.main-content {
    background-color: $background-highlight;
    padding: 50px 0;
    margin-top: 160px;
    @media (max-width: $screen-sm-max) {
        margin-top:80px;
        padding: 32px 0;
    }
    @media (max-width:$screen-xs-max) {
        margin-top: 42px;
    }
}
