.gaf-page-info{
    border:1px solid $color-border-primary;
    background:$color-white;
  }
  .claim-list{
    padding:0 30px;
    padding-top: 0;
    @media (max-width: $screen-xs-max){
        padding:20px 15px;
    }
    @media (max-width: $screen-sm-max){
        padding-left: 15px;
        padding-right:15px;
    }
  }
  
  .gaf-table-header{
    margin:30px 0 20px;
    @media (max-width:$screen-xs-max){
        margin:5px 0 20px 0;
    }
    h4{
        font-size: 20px;
        font-family: $webfont-medium;
        margin-top:2px;
        @media (max-width:$screen-xs-max){
            font-size:16px;
        }
    }
  }
  .claim-status{
    .select-user {
        float: right;
    }
    .gaf-table{
        border:1px solid $color-grey;
        @media (max-width:$screen-xs-max){
            border:1px solid $color-border-primary;
        }
        th,td{
            padding:10px;
            @media (max-width:$screen-xs-max){
                padding: 3px 5px;
            }
        }
        tbody{
            tr{
                td:nth-child(2){
                    max-width:150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @media (max-width:$screen-xs-max){
                        max-width: none;
                        word-break: break-word;
                        word-wrap: break-word;
                        -ms-word-wrap: break-word;
                    }
                }
                td:last-child{
                    &:before{
                        @media (max-width:$screen-xs-max){
                        top:10px;
                        }
                    }
                }
            }
        }
    }
    .GAF-typeahead{
        p{
            position: absolute;
            font-size:13px;
            margin-top:2px;
            font-family: $webfont-regular;
        }
    }
    .GAF-auto-suggesion-noresult{
        position: absolute;
        font-size: 11px;
        display: block;
        font-family: $webfont-regular;
    }
}
.invoice-details-popup{
    .gaf-table{
        max-height:255px;
        overflow-y: auto;
        tr{
            td{
                &:first-child{
                    width:480px;
                    @media (max-width:$screen-sm-max){
                        width:auto;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}