.reg-container {
    .error-question {
        .error-message {
            position: static;
            margin-top: -10px;
            margin-bottom: 15px;
        }
    }
    margin-top: 20px;
    .gaf-checkbox {
        border-top:none;
        padding-top: 10px;
    }
    .esign-and-date {
        overflow: hidden;
        margin-left: 26px;
        margin-bottom: 25px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
        }
    }
    .mobNo-field {
        margin-left: 26px;
        margin-bottom: 10px;
        .gaf-radio {
            margin-left: 15px;
        }
    }
    .padNone {
        padding: 0;
    }
    .gab-product {
        margin-bottom: 15px;
        position: relative;
        .col-md-4 {
            padding-right: 0;
        }
    }
    .marBtm15 {
        margin-bottom: 15px;
    }
    .marTop25 {
        margin-top: 25px;
    }
    .error-message {
        color: $color-secondary;
        margin-top: 5px;
        display: block;
        font-size: 12px;
        position: absolute;
    }
    sup {
        color: $color-secondary;
        top: -2px;
        left: 2px;
    }
    input[readonly] {
        background: none;
        cursor: not-allowed;
    }
    .gaf-addressline1 {
        &.error-highlighter {
            +.location-search input {
                border-color: $color-secondary;
            }
        }
    }
    .other-services,
    .primary-purchase-point,
    .tc-error {
        .error-message {
            font-size: 14px;
            font-family: $webfont-medium;
            bottom: -5px;
        }
    }
    p.no-mar {
        margin: 0;
    }
    .tc-error {
        position: relative;
        .error-message {
            bottom: 0px;
        }
    }
}

.ems-alert {
    color: $color-secondary;
    margin-top: 26px;
    margin-bottom: 25px;
    font-family: $webfont-demi;
}

.verification-process {
    font-size: 20px;
    font-family: $webfont-medium;
    font-weight: normal;
    color: $color-primary;
    margin: 50px 0px 40px 35px;
    text-align: left;
    @media (max-width: $screen-xs-max) {
        margin:30px 0px 30px 0px;
        text-align: center;
    }
}

.install-yes {
    margin-left: 40px;
    display: none;
    @media (max-width: $screen-xs-max) {
        margin-left: 30px;
    }
    p {
        margin-bottom: 0px;
    }
}

.install-no {
    display: none;
    float: left;
    width: 100%;
    label {
        margin-bottom: 20px;
    }
}

.yes-open .install-yes {
    display: block;
}

.no-open .install-no {
    display: block;
}

.btn-and-terms {
    margin-top: 5px;
    margin-bottom: 100px;
    @media (max-width: $screen-xs-max) {
        margin-bottom: 38px !important;
    }
    .next-btn {
        width: 35%;
        float: left;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
    .terms-and-conditions {
        width: 65%;
        float: left;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
        p {
            font-size: 16px;
            margin-left: 50px;
            margin-bottom: 0;
            font-family: $webfont-medium;
            font-weight: normal;
            @media (max-width: $screen-xs-max) {
                margin-top: 38px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 0;
                text-align: center;
            }
        }
        a {
            font-family: $webfont-bold;
        }
    }
}

.select-box {
    margin: -10px 0 25px 35px;
}

.ems-select-box {
    width: 320px;
    margin-left: 40px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
    @media (max-width:$screen-xs-max) {
        width: auto;
        select {
            border: 1px solid #B7B7B7;
            border-radius: unset;
            box-shadow: none;
            height: 45px;
            text-align: left;
            font-family: $webfont-medium;
            background: #fff;
            float: none;
            width: 100%;
            margin-bottom: 22px;
            padding: 0 10px;
        }
    }
}

.register-now {
    width: 262px;
    margin-bottom: 100px;
    margin-top: 5px;
    @media (max-width: $screen-xs-max) {
        width: 100%;
        margin-bottom: 40px;
    }
}
