.invalid-control label {color: #a81f00}
.invalid-control input, .invalid-control select {border-color: #a81f00;}
.invalid-control .error-message {color:#a81f00; font-size:13px;margin-top: 2px;}
.invalid-control .error-message img {width: 18px;margin-right: 5px;}

.modal-body .warning-icon {width: 50px;display: inline-block;}
.modal-body .warning-icon img {width: 50px;}
.modal-body .warning-text {display: inline-block; font-size: 14px}
.warning-popup .modal-header {border-bottom: none;}
.warning-popup .modal-footer {border-top: none;}

.tooltip-inner {color: #000;border: 1px solid #000;background: #fff;border-radius: 10px;padding: 5px 20px;font-size: 12px;font-weight: 700;}
.modal-dialog.warning-popup {position: absolute; margin: auto; left: 0; right: 0; top: 0; bottom: 0; max-height: 350px;}
.dropdown .dropdown-menu.show {padding: 0px;font-size: 14px;top: 30px;}
.dropdown-submenu .dropdown-menu.show {padding: 0;font-size: 14px;top: 0;}

.bcg {position: relative;}
.bcg .find-button-list, .find-button-list .dropdown.show {position: unset;}
.bcg .dropdown-menu.show {left: 60px;top: 40px;}
.bcg .find-button-list .dropdown-submenu .dropdown-menu.show{left: 160px;top: 0px;}

.password-input {position: relative;}
.password-input input {padding-right: 30px;}
.password-input .show-password {width: auto;position: absolute;top: -2px;right: 7px;}
.password-input .show-password img {width: 20px; cursor: pointer;}
.input-required {margin-left: 4px;color: #a81f00;}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }