
.error-page {
    background-color: $color-white;
    border: 1px solid $color-border-primary;
    padding: 59px 0 38px 0;
    width: 554px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% + 25px);
    text-align: center;
    &.postlogin-error {
        top: calc(50% + 55px);
        @media (max-width: $screen-xs-max) {
            width: calc(100% - 30px);
            top: calc(50% - 63px);
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            top: calc(50% + 15px);
        }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        top: calc(50% + 15px);
    }
    @media (max-width: $screen-xs-max) {
        width: calc(100% - 30px);
        top: calc(50% - 63px);
    }  
    figure {
        margin-bottom: 48px;
        img {
            width: 354px;
            max-width: 100%;
            margin: 0 auto;
            @media screen and (max-width: $screen-xs-max) {
                width: 70%;
            }
        }
    }
    h6 {
        font-size: 16px;
        font-family: $webfont-medium;
        color: $color-primary;
        margin: 0 0 12px;
        text-transform: uppercase;
        padding: 0 15px;
    }
    p {
        font-family: $webfont-medium;
        padding: 0 15px;
    }
    .goto-home {
        text-transform: uppercase;
        text-decoration: underline;
        font-family: $webfont-demi;
        position: relative;
        i {
            position: absolute;
            margin: 4px 0 0 8px;
            font-size: 14px;
        }
    }
}