.spot-promotion-page-info{  
    padding:30px;
    border:1px solid $color-border-primary;
    background:$color-white;
@media (max-width:$screen-xs-max){
 padding: 0px;      
} 
label{
  @media (max-width:$screen-xs-max){
      float:left;
      margin: 12px 0;
  }
  @media (max-width:$screen-xs-max){
      margin:5px 0;
  }
}  

.gaf-table-header {
  margin: 20px 0 20px 0;
  @media (max-width:$screen-xs-max) {
     padding: 0 15px;  
     margin: 0;
     margin-bottom: 20px;           
   }
  h4 {        
      margin-top: 25px;
      margin-bottom: 0;
  }
  .new-promo-btn{
      width: 200px;
      @media (max-width:$screen-xs-max) {
          width: 100%;               
       }
  }
}
.spot-promotion-list {
    table {
        td:first-child{
            width: 25%;
            @media (max-width:$screen-xs-max){
                width: 100%;
            }
            span{
                max-width: 230px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                @media (max-width:$screen-xs-max){
                    max-width: none;
                    white-space: pre-line !important;
                    word-break: break-word;
                    word-wrap: break-word;
                    -ms-word-wrap: break-word;
                }
            }
        }
        td:last-child{
            &:before{
                top:10px;
            }
        }
    }
}
.gaf-table{
  max-height: none;
  @media (max-width:$screen-xs-max) {
      padding: 15px;
      border-top:1px solid $color-border-primary;
   }
   .gaf-btn-secondary.gaf-btn-sm       {
       width:100px;
   }
   .table-responsive{
        @media (max-width:$screen-xs-max){
            border:1px solid $color-border-primary;
        }
    }
}
.spot-promotion-block{
  border: 1px solid $color-border-primary;
  padding: 20px;
  background: $color-white;
  @media (max-width:$screen-xs-max) {           
      border:none;           
      padding: 20px 15px;            
   }
  .filterby{
      float: left;
      @media (max-width:$screen-xs-max) {
         margin-bottom: 20px;         
      }          
      .custom-select-box{
          width: 117px;
          display: inline-block;
          margin-left:20px;
          margin-right: 40px;
      }  
      .gaf-select-box{
          label{
            @media (max-width:$screen-xs-max){
              margin:5px 0;
            }
          }
          .form-control{
              width: 121px;
              margin-left: 10px;
              @media (max-width:$screen-sm-max){
                display: inline-block !important; 
              }               
          }
      }         
  }
  .gaf-form{           
      margin: 0;
      position: relative;
      width: 361px;
      @media (max-width:$screen-sm-max) {
          width: 100%;
      }
      label{
          @media (max-width:$screen-xs-max) {
              margin: 10px 0;        
           }
      }
  }
}
    .gaf-pagination {
        margin-bottom: 0; 
    }

.upload-new-spot-promotion {
    .invoice-upload-files {
        margin: 0;
        ul {
            margin: 0 0 0;
        }
        .uploaded-files {
            margin: 20px 0 0;
            @media (max-width: $screen-sm-max) {
                padding: 0;
            }
            a:last-child {
                position: relative;
                top: 2px;
                @media (max-width: $screen-sm-max) {
                    font-size: 12px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -7px;
                }
            }
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .invoice-upload-files {
        .upload-btn {
            margin: 0;
        }
        .gaf-error-message {
            @media (max-width:$screen-xs-max) {
                padding: 0;        
             }
        }
    }
    .gaf-error-message {
        margin: 10px 0;
        @media (max-width:$screen-xs-max) {
            padding: 0;        
         }
    }
}
}