footer {
    background-color: $color-primary;
    color: $color-white;
    padding: 16.5px 0;
    font-size: 12px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    font-family: $webfont-medium;
    text-align: center;
    @media screen and (max-width: $screen-xs-max) {
        // padding: 32px 0;
    }
    ul {
        margin-bottom: 0;
        padding-left: 0;
        display: inline-block
    }
    li {
        display: inline;
        padding: 0 15px;
        border-left: 1px solid $color-white;
        &:last-child {
            padding-right: 0;
            @media screen and (max-width: $screen-xs-max) {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: $screen-xs-max) {
            display: block;
            list-style-type: none;
            text-align: center;
            border: none;
            padding: 0;
            margin-bottom: 16px;
            &:first-child {
                border-right: none;
            }
        }
        a.footerlink{
            color: $color-white;
            text-decoration: underline;
            &:hover, &:visited, &:focus {
                color: $color-white;
            }
        }
    }
    p {
        margin-bottom: 0;
        display: inline-block;
        padding-right: 15px; 
        @media screen and (max-width: $screen-xs-max) {
            display: block;
            padding: 0;
            margin-bottom: 16px;
        }
    }
}