.terms-and-conditions {
    overflow-y: auto;
    overflow-x: hidden;
    .modal-dialog{
        @media (max-width: $screen-sm-max) {
            margin-top:50px;
        }
        @media (max-width: $screen-xs-max) {
            margin-top:0px;
        }
    }
    .welcome-gaf {
        text-align: center;
        font-family: $webfont-demi;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .Please-make-sure-you {
        font-size: 14px;
        font-family: $webfont-regular;
        margin-bottom: 15px;
        line-height: 1.57;
        span{
            font-family: $webfont-medium;
        }
    }
    .gaf-checkbox {
        label {
            font-weight: normal;
            @media (max-width: $screen-sm-max) {
                font-size: 14px
            }
        }
        .indicator-error {
            border-color: $color-secondary;
        }
    }
    .decline-accept-btn {
        margin-top: 5px;
    }
    .mtb {
        @media (max-width: $screen-sm-max) {
            margin-bottom: 20px;
        }
    }
    .error-message {
        color: $color-secondary;
    }
    .modal-header{
        position: relative;
    }
    .modal-close-btn{
        background:none;
        border:0;
        position: absolute;
        right:20px;
        top:22px;
    }    
}