@import "~react-rangeslider/lib/index.css";

.rangeslider__labels {
    margin-top: -23px;
    .rangeslider__label-item {
        z-index: -1;
    }
}

.custom-labels {
    margin-bottom: 58px;
    .rangeslider__fill {
        background: transparent;
        box-shadow: none;
    }
}

.rangeslider-horizontal {
    height: 6px;
    border: 1px solid $color-border-primary;
    box-shadow: inset 0 2px 2px 0 rgba(183, 183, 183, 0.5);
    background: $background-highlight;
    border-radius: none;
    .rangeslider__handle:after {
        width: 15px;
        height: 15px;
        top: 4px;
        left: 4px;
        background-color: red;
    }
    .rangeslider__handle {
        width: 25px;
        height: 25px;
        border-radius: 30px;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1; 
        box-shadow: none;
        &:focus{
            outline: none;
        }       
    }
}

.rangeslider-horizontal::before,
.rangeslider-horizontal::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
}

.rangeslider-horizontal::before {
    left: -4px;
    top: -1px;
}

.rangeslider-horizontal::after {
    right: -3.5px;
    width: 12px;
}

.adjust {
    top: 4px;
    position: absolute;
    color: $color-border-primary;
}

.center-line-bold {
    color: $color-border-primary;
    font-size: 20px;
    position: relative;
    top: -5px;
    font-family: $webfont-medium; 
}

.number-range {
    position: absolute;
    top: 35px;
    font-weight: bold;
    left: -11px;
    &.fifty {
        left: -5px;
    }
    &.hundred {
        left: -8px;
    }
    &.one-fifty {
        left: -10px;
    }
}
.ranger-text{
    font-size: 16px;
    font-family: $webfont-medium; 
    margin-bottom: 20px;  
    span{
        margin-left: 4px;
    }  
}
.install-annually{
    font-size: 16px;
    font-family: $webfont-medium;
    .icon-question {
        padding-left: 5px;
    }
}

.residential-commercial{
    font-family: $webfont-medium;
    font-size: 16px;
    .ranger-commercial{      
        float: right;
    }
    p{
        margin-bottom: 0;
    }
}

.primary-purchase-point, .other-services, .primary-purchase-point{
    p{
    font-family: $webfont-medium;
    font-size: 16px;
    margin-bottom: 20px;
    }
}