@mixin box-shadow( $horiz : null , $vert : null , $blur : null , $spread : null , $color : null ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}