// buttons

@mixin button-variant($color, $background, $background-hover) {
    background-color: $background;
    color: $color;
    border-radius: 0;
    transition: all .5s;
    text-transform: uppercase;
    padding:0 16px;
    min-height: 45px;
    font-size:16px;
    border: none;
    border-color: $background;
    font-family: $webfont-demi;
    &:hover{
        background-color: $background-hover;
        color: $color;
    }
    &:focus, &:active, &:visited {
        outline: none;
        color: $color;
        background-color: $background;
        border:none;
    }
    &.btn-disabled, &.btn[disabled]{
        opacity: 0.3;
        background-color: $background;
        color: $color-white;
        &:hover, &:focus, &:active{
            outline: none;
            color: $color;
            background-color: $background;
            border:none;
        }
    }
    &.gaf-btn-sm{
        width:70px;
        min-height: 30px;
        font-size: 10px;
    }
}