  @mixin font-face($font-name, $font-url){
    @font-face {
      font-family: $font-name;
      src: url('../fonts/' + $font-url + '.eot');
      src: url('../fonts/' + $font-url + '.eot?#iefix') format('embedded-opentype'),
      url('../fonts/' + $font-url + '.woff') format('woff'),
      url('../fonts/' + $font-url + '.ttf') format('truetype'),
      url('../fonts/' + $font-url + '.otf') format('opentype'),
      url('../fonts/' + $font-url + '.svg#' + $font-url) format('svg');      
      font-style: normal;
      font-weight:300;
    }
  }