@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}
/** transform translate **/
@mixin transform-translate($x,$y){
    @include transform(translate($x,$y));
}
/** transform rotate **/
@mixin transform-rotate($deg){
    @include transform(rotate($deg));
}
/** Transform Scale **/
@mixin transform-scale($number){
    @include transform(scale($number));
}