// Variables
// colors 
$color-primary : #494949;
$color-secondary : #E40514;
$color-white: #ffffff;
$color-black: #000000;
$color-grey:#dcdcdc;
$color-green: #73bd00;
// font varients
$webfont-bold : AG_std_bld;
$webfont-regular : AG_std_book;
$webfont-demi : AG_std_demi;
$webfont-medium : AG_std_md;
// border colors
$color-border-primary : #B7B7B7;
$color-border-secondary : #494949;
// background
$background-highlight: #f3f3f3;
// Break points
$screen-lg-max: 1200px;

$screen-md-max: 1199px;
$screen-md-min: 992px;

$screen-sm-max: 991px;
$screen-sm-min: 768px;

$screen-xs-max: 767px;

// Custom Break Points

$screen-es-max: 374px;
$screen-ipad-lanscape : 1024px;