.cart-summary-confirmation{
    font-size:16px;
    font-family: $webfont-regular;
    @media (max-width:$screen-xs-max){
        font-size:14px;
    }
    .receive-confirm{
        background-color: $color-white;
        border: 1px solid $color-border-primary;
        padding: 30px;
        @media (max-width:$screen-sm-max){
            padding: 18px 15px 30px;
        }
    .order-check{
        margin-top:48px;
        border-radius: 50%;
        border:2px solid $color-primary;
        width: 84px;
        height: 84px;
        display: inline-table;
        @media (max-width:$screen-xs-max){
            margin-top: 0;
            width: 74px;
            height: 74px;
        }
        .icon-check{
            vertical-align: middle;
            display: table-cell;
            font-size: 35px;
            @media (max-width:$screen-xs-max){
                font-size: 30px;
            }
        }
    }
    .order-received{
        font-size: 30px;
        font-family: $webfont-medium;
        margin-top: 48px;
        @media (max-width:$screen-xs-max){
            margin-top: 18px;
            font-size: 24px;
        }
    }
    .order-number{
        font-size: 20px;
        font-family: $webfont-demi;
        margin-top: 40px;
        @media (max-width:$screen-xs-max){
            margin-top: 30px;
            font-size: 18px;
        }
    }
    .request-submitted{
        margin-top: 30px;
        @media (max-width:$screen-xs-max){
            padding: 0 15px;
        }
    }
    table{
        &.e-card{
            margin-top: 20px;
            width: 93%;
            @media (max-width:$screen-xs-max){
                width: 100%;
            }
            tr{ 
                td
                {
                    vertical-align: top;
                    &:first-child{
                        font-family: $webfont-demi;
                        width: 19%;
                        @media (max-width:$screen-xs-max){
                            width: 22%;
                        }
                    }
                    span{
                        font-family: $webfont-demi;
                    }
                }
                    
            }
        }
        &.gift-card{
            margin-top: 23px;
            @media (max-width:$screen-xs-max){
                margin-top: 27px;
            }
            tr{ 
                td
                {
                    vertical-align: top;
                    &:first-child{
                        font-family: $webfont-demi;
                        width: 18%;
                        @media (max-width:$screen-xs-max){
                            width: 28%;
                        }
                    }
                }
                    
            }
        }
    }
    .redemption-details{
        margin-top: 20px;
        a{
            font-family: $webfont-demi;
            text-decoration: underline;
        }
    }
    .contact-us
    {
        margin-top: 20px;
        margin-bottom: 61px;
        @media (max-width:$screen-xs-max){
            margin-bottom:0;
                
        }
        span{
            font-family: $webfont-demi;
        }
    }
}
.redemption-link{
    margin:20px 0;
    a{
        text-decoration: underline;
    }
}
}
    
