// Core variables and mixins
@import "partials/variables";
@import "partials/mixins";
@import "partials/buttons";
@include font-face($webfont-bold, ITCAvantGardeStd-Bold);
@include font-face($webfont-regular, ITCAvantGardeStd-Bk);
@include font-face($webfont-demi, ITCAvantGardeStd-Demi);
@include font-face($webfont-medium, ITCAvantGardeStd-Md);

html{
    position: relative;
    z-index: -1;
    min-height: 100%;
    font-family: $webfont-regular;
}
body{
    background-color: $background-highlight;
    margin-bottom:50px;
    @media (max-width: $screen-xs-max) {
        margin-bottom:180px;
    }
}

.gaf-btn-primary {
    @include button-variant($color-white, $color-secondary, $color-primary);
}

.gaf-btn-secondary {
    @include button-variant($color-white, $color-primary, $color-secondary);
}

label{
    font-weight: normal;
}
a {
    transition: all 0.5s linear;
    text-decoration: none;
    color: $color-primary;
    &:hover {
        text-decoration: none;
        color: $color-primary;
    }
    &:visited,&:focus{
        color: $color-primary;
        text-decoration: none;
    }
}
dl {
    margin: 0;
}
body {
    font-family: $webfont-regular, sans-serif;
    color: $color-primary;
}
strong{
    font-family: $webfont-demi;
}

.display-block{
    display: block;
}
.display-inline{
    display: inline;
}
.text-underline{
    text-decoration: underline;
    &:hover, &:active , &:visited , &:focus{
        text-decoration: underline;
    }
}
.text-danger{
    color: $color-secondary;
}
.m0{
    margin:0;
}

textarea {
    box-shadow: none;
    &.form-control {
        box-shadow: none;
        border-radius: 0px;
    }
}
.main-content {
    background-color: $background-highlight;
    padding: 50px 0;
    margin-top: 160px;
    @media (max-width: $screen-sm-max) {
        margin-top:80px;
        padding: 32px 0;
    }
    @media (max-width:$screen-xs-max) {
        margin-top: 55px;
    }
}
.impers-topspace {
    @media (max-width: $screen-sm-max) {
        margin-top: 115px;
    }
    @media (max-width:$screen-xs-max) {
        margin-top: 72px;
    }
}
.admin-impersonate{
    .main-content{
        @media (max-width: $screen-sm-max) {
            margin-top:129px;
            padding: 32px 0;
        }
        @media (max-width:$screen-xs-max) {
            margin-top: 103px;
        }
    }
}

.gaf-form {
    margin-bottom:35px;
    @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
    }
	p{
        font-size: 16px;
    }
    .error {
        border-color: $color-secondary;
    }
    .form-control {
        border: 1px solid $color-border-primary;
        @include border-radius(0);
        box-shadow: none;
        height: 46px;
        font-family: $webfont-medium;
        @media (max-width: $screen-sm-max) {
            height:40px;
        }
        &.input-error {
            border-color: $color-secondary; 
        }
        &::-ms-clear{
            display: none;
        }
        &[readonly]{
            background:$color-white;
            &:hover, &:focus{
                cursor: not-allowed;
            }
        }
        &[disabled]{
            background:$color-white;
            &:hover, &:focus{
                cursor: not-allowed;
            }
        }
    }
    input.form-control,
    textarea.form-control {
        -webkit-appearance: none;
    }
    a[class^="icon"], span[class^="icon"], label[class^="icon"], i[class^="icon"]{
        position: absolute;
        font-size:19px;
        top:14px;
        right:16px;
        @media (max-width: $screen-sm-max) {
            top:10px;
        }
    }
    .input-error-msg{
        position: absolute;
        font-size:13px;
        margin-top:2px;
        font-family: $webfont-regular;
    }
    label {
        font-size: 16px;
        text-transform: capitalize;
        font-family: $webfont-medium;
        font-weight: normal;
        sup {
            color: $color-secondary;
            top: -2px;
            left:2px;
        }
    }
    .dropdown-highlight {
        .dropdown-toggle,
        .form-control__control,
        select {
            border-color: $color-secondary !important;
        }
    }
    .display-inline{
        display: inline;
    }
}
.gaf-radio {
    input {
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;
            +label {
                position: relative;
                padding-left: 40px;
                cursor: pointer;
				margin-bottom: 18px;
                line-height: 26px;
                display: inline-block;
                color: $color-primary;
                font-size: 16px;
                @media (max-width: $screen-xs-max) {
					padding-left: 40px;
                    line-height: 20px;
                }
                &::before {
                    content: '';        
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    border: 1px solid $color-border-primary ;
                    @include border-radius(50%);
                    background: $color-white;
                    @media (max-width: $screen-xs-max) {
                        width: 20px;
                        height: 20px;
                    }
                }
                &::after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    background: $color-primary;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    @include border-radius(50%);
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    @media (max-width: $screen-xs-max) {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
        &:not(:checked) {
            +label {
                &:after {
                    opacity: 0;
                    @include transform-scale(0);
                }
            }
        }
        &:checked {
            +label:after {
                &::after {
                    opacity: 1;
                    @include transform-scale(1)
                }
            }
        }
    }
    span[class^="icon-"]{
        margin-left:5px;
        position: relative;
        top:2px;
    }
}
.gaf-checkbox {
    .control {
        position: relative;
        padding-left: 40px;
        margin-bottom: 15px;       
        cursor: pointer;
        font-size: 16px;
         @media (max-width: $screen-xs-max) {
		 padding-left: 35px;
            margin-bottom: 10px;
		 }  
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked {
                ~.indicator:after {
                    display: block;
                }
            }
        }
		a{
            text-decoration: underline;
            color: $color-primary;
            font-family: $webfont-demi;
            display: inline-block;
        }
    }
    .indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 1px solid $color-border-primary;
        @include transform-translate(0,-50%);
        @media (max-width: $screen-xs-max) {
            height: 20px;
            width: 20px;
        }
        &:after {
            content: '';
            position: absolute;
            display: none;
			@media (max-width: $screen-xs-max) {
				left: 6px;
                width: 7px;
                height: 14px;
			}
        }
    }
    .control-radio {
        .indicator {
            @include border-radius(50%);
        }
    }
    .control-checkbox {
        input[disabled] + .indicator {
            background-color: $color-grey;
        }
        .indicator:after {
            left: 8px;
            top: 1px;
            width: 8px;
            height: 18px;
            border: solid $color-primary;
            border-width: 0 2px 2px 0;
            @include transform-rotate(45deg);
            font-weight: 400;
            @media (max-width: $screen-xs-max) {
                left: 6px;
                top: 0px;
                width: 7px;
                height: 14px;
            }
        }
      span{
          position: relative;
          top: -10px;
      }
    }
    padding-top: 20px;
}
.gaf-btn-secondary {
	@media (max-width: $screen-xs-max) {
        margin-right: 5px;
		
    }
}
.radio-total-inline {   
    .radio-inline {
        display: inline;
        padding-left: 0;
        margin-right: 30px;
    }
    .gaf-install-options{
        @media (max-width: $screen-xs-max) {
            float: left;
        label{
            padding-left: 30px !important;
            }
        }
    }
}


/* Custom Select Box */

.custom-select-box{
    vertical-align: middle;
    .form-control--is-disabled {
        .form-control__control--is-disabled {
            background-color: $color-white;
            .form-control__single-value--is-disabled {
                color: $color-primary;
            }
        }
    }
    .dropdown , .open{
        display: block;
        .dropdown-menu{
            right:0;
            top:44px;
            margin:0;
            padding:0;
            min-width: auto;
            @include border-radius(0);
            z-index: 1;
            box-shadow:none;
            border: 1px solid $color-border-primary;
            max-height: 200px;
            overflow-y: auto;
            @media (max-width: $screen-sm-max) {
                top:39px;
            }
            li {
                a{
                    padding:13px 10px;
                    border-bottom:1px solid $color-border-primary;
                    font-family: $webfont-medium;
                    color:$color-primary;
                    font-size: 14px;
                    white-space: initial;
                    &:hover{
                        background:$background-highlight;
                    }
                }
                &.active a{
                    background:$background-highlight;
                }
                &:last-child {
                    a{
                        border:none;
                    }
                }
            }
        }
        .btn{
            border: 1px solid $color-border-primary;
            @include border-radius(0);
            box-shadow: none;
            height: 46px;
            width:100%;
            text-align: left;
            font-family: $webfont-medium;
            background:$color-white;
            float: none;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right:25px;
            &:hover, &:focus, &:active{
                background:$color-white;
                border: 1px solid $color-border-primary;
                float: none;
            }
            @media (max-width: $screen-sm-max) {
                height: 40px;
            }
            .caret{
                border-width: 6px;
                margin-top: -2px;
                position: absolute;
                right: 12px;
                top: 50%;
            }
            &[readonly]{
                background:$color-white;
                &:hover, &:focus{
                    cursor: not-allowed;
                }
            }
        }
    }
    .form-control__control {
        height: 46px;
        border-radius: 0px;
        border-color: $color-border-primary;
        &:hover {
            border-color: $color-border-primary;
        }
        .form-control__indicators{
            > .form-control__indicator-separator{
                display: none;
            }
            svg{
                display: none;
            }
            &:after{
                content: "";
                border-top:6px solid $color-primary;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                right:10px;
                top:20px;
            }
        }
    }
    .form-control__menu {
        margin-top: 0;
        border-radius: 0px;
        box-shadow: none;
        border:1px solid $color-border-primary;
        border-top:0;
        .form-control__menu-list {
            padding:0;
            .form-control__option {
                color:$color-primary;
                &.form-control__option--is-focused {
                    background-color: transparent;
                }
                &.form-control__option--is-selected {
                    background-color: $background-highlight;
                }
                &:hover{
                    background-color: $background-highlight;
                }
                &:not(:last-child){
                    border-bottom: 1px solid $color-border-primary;
                }
            }
        }
    }
}

/* GAT - Accordian */

.gaf-accordian{
    .panel-group{
        border:1px solid $color-border-primary;
        margin-bottom:0;
        .panel{
            margin:0;
            border:none;
            border-radius: 0;
            border-bottom: 1px solid $color-border-primary;
            &:last-child{
                border:none;
            }
        }
        .panel-heading{
            background:$color-white;
            border:none;
            padding:20px 20px 16px 50px;
            line-height: 21px;
            font-family: $webfont-demi;
            @media (max-width: $screen-xs-max){
                @include flex;
                @include justify-content(space-between);
                padding:16px 20px 16px 40px;
            }
            .panel-title{
                display: inline;
                a{
                    position: relative;
                    @media (max-width: $screen-xs-max){
                        font-size: 14px;
                    }
                    &:before{
                        content:"";
                        width:20px;
                        height:20px;
                        text-align: center;
                        line-height: 15px;
                        position: absolute;
                        top:1.5px;
                        left:-30px;
                        font-family: 'icomoon' !important;
                    }
                    &::before{
                        content: "\e910";
                        font-size:3.3px;
                    }
                    &.collapsed{
                        &:before{
                            content: "\e911";
                            font-size: 17px;
                        }
                    }
                }
                &:nth-child(2) a{
                    text-decoration: underline;
                    margin:2px 0 0 4px;
                }
                &:nth-child(2) a:before, &:nth-child(2) a:after {
                    content:none;
                }
            }
        }
        .panel-body{
            border-color:transparent !important;
            padding:0 20px;
            @media (max-width: $screen-xs-max){
                padding:0;
                border-color:$color-border-primary !important;
            }
            .panel-body-content{
                @media (max-width: $screen-xs-max){
                    padding:15px;
                }
            }
        }
    }
}

/* GAT - Custom table with responsive */

.gaf-table{
    overflow-y: auto;
    border: 1px solid $background-highlight;
    width: 100%;
        .table-responsive{
            @media (max-width: $screen-xs-max){
                border:none;
                margin-bottom:0;
            }
        }
        .table-bordered{
            border:0;
        }
        table{
            margin-bottom:0;
            thead{
                tr{
                    @media (max-width: $screen-xs-max){
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                    }
                    th{
                        font-family: $webfont-demi;
                        padding:15px;
                        background:$color-grey;
                        white-space: nowrap;
                        text-transform: uppercase;
                        color: $color-primary;
                        a{
                            display: inline-block;
                            white-space: inherit;
                            position: relative;
                        }
                        span{
                            border-top: 5px solid $color-primary;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            position: absolute;
                            display: inline-block;
                            margin-left: 5px;
                            &.toggle-sort{
                                @include transform-rotate(180deg);
                            }
                            &.arrow-ascending{
                                @include transform-rotate(180deg);
                                top: 4px;
                            }
                            &.arrow-descending{
                                @include transform-rotate(0deg);
                                top:10px;
                            }
                            &.arrow-active{
                                border-top-color: $color-primary;
                            }
                        }
                    }
                }
                a{
                    display: inline;
                }
            }
            tbody{
                tr{
                    @media (max-width: $screen-xs-max) {
                        border-top: 1px solid $color-border-primary;
                        padding: 5px;
                    }
                    &:first-child {
                        @media (max-width: $screen-xs-max) {
                            border-top: none;
                        }
                    }
                    td{
                        padding:10px 15px;
                        border: none;
                        font-family: $webfont-medium;
                        vertical-align: middle;
                        white-space: nowrap;
                        @media (max-width: $screen-xs-max){ 
                            border: none;
                            position: relative;
                            padding-left: 40% !important;
                            vertical-align: middle;
                            padding:3px 5px;
                            white-space: pre-line !important;
                            word-wrap: break-word;
                            font-size:12px;
                            &:before {
                                content: attr(data-col-name) ; 
                                position: absolute;
                                top: 3px;
                                left: 6px;
                                width: 35%;
                                padding-right: 10px;
                                white-space: nowrap;
                                font-family: $webfont-demi;
                                text-transform:uppercase;
                            }
                        }
                        &.no-record-found{
                            padding-left:0 !important;
                        }
                    }
                    &:nth-child(even){
                        background:$background-highlight;
                    }
                }
            }
            .table-value{
                text-align: right;
                @media (max-width: $screen-xs-max){
                    text-align: left;
                }
            }
        }
	    @media (max-width: $screen-xs-max)   {
        table, thead, tbody, th, td, tr {
            display: block;
        }
  }
}



/** GAF - Tabs Block **/

.gaf-tabs{
    .nav-tabs{
        border-bottom:none;
        li{
            @media (max-width:$screen-sm-max){
                width:50%;
                text-align:center;
            }
            a{
                border:none;
                padding:12px 30px;
                font-size: 20px;
                border-radius:0;
                background:$color-primary;
                transition: none;
                font-family: $webfont-medium;
                color:$color-white;
                margin:0;
                outline: none;
                @media (max-width:$screen-sm-max){
                    font-size:16px;
                    padding:14px 0px;
                }
            }
            &.active a{
                background:$color-white;
                color: $color-primary;
                border:none;
            }
        }
    }
    .tab-content{
        padding:30px;
        background:$color-white;
        @media (max-width:$screen-xs-max){
            padding:15px;
        }
        .tab-header-content{
            margin-bottom:27px;
            @media (max-width:$screen-xs-max){
                margin-bottom:20px;
            }
        }
    }
    h4{
        margin:15px 0;
        font-family: $webfont-demi;
    }
    
}

/* GAF - Title Block */

.gaf-title-block{
    border:1px solid $color-border-primary;
    padding:30px;
    background:$color-white;
    margin-bottom: 30px;
    color: $color-primary;
    font-family: $webfont-regular;
    @media (max-width:$screen-sm-max){
        text-align: center;
        padding:15px;
    }
    h2{
        margin-top:0;
        margin-bottom:0px;
        font-family: $webfont-medium;
        word-break: break-word;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
        @media (max-width:$screen-xs-max){
            font-size: 24px;
            margin-bottom:10px;
        }
    }
    p{
        margin-bottom:0;
        margin-top:20px;
        line-height: 1.57;
        font-family: $webfont-regular;
    }
    a{
        text-decoration: underline;
    }
    .separator{
        margin:0 5px;
    }
    .links{
        @media (max-width:$screen-sm-max){
            text-align: center;
            border-top:1px solid $color-border-primary;
            margin-top: 17px;
            padding-top: 16px;
        }
    }
}

/* GAF - Description Block*/

.gaf-description-block{
    border: 1px solid $color-border-primary;
    background:$color-white;
    padding:30px;
    margin-top:30px;
    font-family: $webfont-regular;
    @media (max-width: $screen-xs-max){
        padding:20px 15px;
    }
    p{
        margin-bottom:0;
        color: $color-primary;
        line-height: 1.71;
        font-family: $webfont-regular;
    }
    h4{
        font-size: 16px;
        margin-top:0;
        margin-bottom: 20px;
        font-family: $webfont-demi;
        color: $color-primary;
        @media (max-width: $screen-xs-max){
            margin-bottom: 10px;
        }
    }
    .btn{
        @media (max-width: $screen-sm-max){
            margin-top:20px;
        }
    }
}

.gaf-paragraph{
    p{
        margin-bottom:0;
        color: $color-primary;
        line-height: 22px;
        font-family: $webfont-regular;
        &:not(:first-child){
            margin-top:37px;
            @media (max-width: $screen-xs-max){
                margin-top: 30px;
            }
        }
    }
}

/* GAF - Filter Box */

.filterby{
    .gaf-form {
        margin-bottom:0;
        label{
            margin: 7px 0;
            font-size: 14px;
            font-family: $webfont-medium;
            color:$color-primary;
            font-weight:normal;
            @media (max-width:$screen-xs-max){
                padding-right:0;
                margin:2px 0;
            }
        }
        select{
            &.form-control{
                @media (max-width:$screen-xs-max){
                    height:30px;
                    padding:0;
                    padding-left:10px;
                }
            }
        }
    }
}

/* GAF - Modal Box */

.modal-backdrop {
    z-index: 1080;
}

.modal {
    z-index: 1090;
}

.modal-open{
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.gaf-model-popup{
    z-index: 1090;
    .modal-dialog{
        max-width: 700px;
        width: auto;
        margin-top: 100px;
        @media (max-width: $screen-xs-max) {
            max-width: none;
            margin-left: 15px;
            margin-right: 15px;
        }
        .modal-content{        
            border-radius: 0;
        }
        .modal-header {
            padding: 24px 30px 16px 30px;
            font-family: $webfont-demi;
            font-size: 20px;
            background-color: $background-highlight;
            border-bottom: none;
            @media (max-width: $screen-sm-max) {
                padding: 15px;
            }
            span {
                float: right;
            }
            .close{
                opacity: 1;
                font-size: 35px;
                font-weight: normal;
                color: $color-primary;
                position: relative;
                top: -9px;
            }
        }
        .modal-body {
            position: relative;
            padding: 30px;
            @media (max-width: $screen-sm-max){
                padding:15px;
            }
        }
        .gaf-table{
            table{
                display: table;
            }
            thead{
                display: table-header-group;
                tr{
                    display: table-row;
                    @media (max-width: $screen-xs-max){
                        position: static;
                    }
                    th{
                        @media (max-width: $screen-xs-max){
                            padding:15px 10px;
                        }
                        display: table-cell;
                    }
                }
            }
            tbody{
                display: table-row-group;
                tr{
                    display: table-row;
                    td{
                        display: table-cell;
                        @media (max-width: $screen-xs-max){
                            padding: 10px;
                            padding-left:10px !important;
                        }
                        &:before {
                            @media (max-width: $screen-xs-max){ 
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.gaf-paragraph{
    p{
        margin-bottom:0;
        color: $color-primary;
        line-height: 22px;
        font-family: $webfont-regular;
        &:nth-of-type(n):not(:first-child){
            margin-top:37px;
            @media (max-width: $screen-xs-max){
                margin-top: 30px;
            }
        }
    }
}

.autocomplete-dropdown-container {
    position: absolute;
    z-index: 2;
    width: calc(100% - 30px);
    .suggestion-item-active {
        background-color: $color-grey;
        padding: 5px 10px;
        cursor: pointer;
    }
    .suggestion-item {
        background-color: $background-highlight;
        color: $color-primary;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            padding: 5px;
        }
    }
    .add-loading {
        color: $color-primary;
        padding: 5px 10px;
    }
    .add-error-message {
        color: $color-secondary;
        padding: 5px 10px;
    }
}

body{
    .tippy-popper {
        cursor: pointer;
        &.in {
            opacity: 1;
        }
    }
    .tippy-tooltip {
        background-color: transparent;
        padding: 0;
        font-size: 12px;
        border-radius: 0;
    }
    .tippy-tooltip-content {
        font-family: $webfont-medium;
        max-width: 260px;
        padding: 10px 9px;
        color: $color-primary;
        text-align: center;
        background: $background-highlight;
        border-radius: 0;
        border: solid 1px $color-border-primary;
        @include box-shadow(0, 2px, 8px, 0, $color-grey);
        word-break: break-word;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
        opacity: 1;
        line-height: 1.4;
    }
    .arrow-regular {
        bottom: -5px !important;
        left: 50%;
        border-width: 7px 7px 0;
        border-top-color: $background-highlight !important;
        &:after {
            content: "";
            border-top:8px solid #555;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            position:absolute;
            bottom:-1px;
            left:-8px;
            z-index: -1;
        }
    }
}

/** GAF - Export CSV Block **/

.gaf-export-block{
    span{
        float:right;
        @include flex;
        @include align-items(center);
        i:first-child{
            font-size:30px;
        }
    }
    span{
        margin:0 0 0 8px;
    }
    a{
        &.disable-export{                
            pointer-events: none;
        }
    }
}

/* GAF - pagination */

.gaf-pagination{
    margin:30px 0 25px;
    font-family: $webfont-medium;
    color: $color-primary;
    @media (max-width: $screen-xs-max){
        text-align: center;
    }
    .custom-select-box{
        width:65px;
        margin:0 10px;
        display: inline-block;
        .dropdown .btn{
            height: 30px;
            padding:5px 10px;
        }
        .open .dropdown-menu
        {
            li a{
                padding:5px 10px;
                transition:none;
            }
        }
    }
    .showby-select{
        .form-control{
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                display: inline-block !important;
                height:30px;
                margin:0 10px;
            }
        }
        .dropdown-menu{
            top:auto;
            bottom:98%;
        }
        .form-control__menu{
            bottom:100%;
            margin-bottom: -1px;
            border-top:1px solid $color-border-primary;
            top:auto;
        }
    }
    ul.pagination-actions{
        margin: 5px 0 0;
        padding:0;
        float: right;
        @media (max-width: $screen-xs-max){
            float: none;
            display: inline-block;
        }
        li{
            float:left;
            list-style-type: none;
            a{
                width:25px;
                height:25px;
                border:1px solid $color-border-secondary;
                text-align: center;
                line-height: 25px;
                margin-right: 25px;
                display: inline-block;
                @media (max-width: $screen-xs-max){
                    margin-right: 20px;
                }
            }
            &:last-child{
                a{
                    margin-right: 0;
                }
            }
            span{
                line-height: 25px;
                margin-right:25px;
                @media (max-width: $screen-xs-max){
                    margin-right: 20px;
                }
            }
            &.disabled{
                cursor: not-allowed;
                a{
                    border:1px solid $color-border-primary;
                    cursor: not-allowed;
                }
                i{
                    color: $color-border-primary;
                }
            }
        }
    }
}

/* GAF - Custom Scroll */
.gaf-scrollbar {
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-grey;
        border-width: 1px;
        border-style: solid;
        border-color: $color-border-primary;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-border-primary;
        border: 3px solid transparent;
        border-radius: 0px;
        background-clip: content-box;
    }
}


/** gaf - advance search panel **/

.gaf-search-area{
    border:1px solid $color-border-primary;
    margin:30px;
    @media (max-width: $screen-sm-max) {
        border:0;
        margin:0px;
        padding:20px 15px 0;
        border-bottom: none;
    }
    .gaf-search{
        background:$color-white;
  
        .filterby{
            margin-left: 20px;
            @media (max-width:$screen-sm-max){
              margin-left: 0;
            }
            @media (max-width:$screen-sm-max){
                float:left;
                width:100%;
            }
            label{
                @media (max-width:$screen-sm-max){
                    float:left;
                    margin: 12px 0;
                }
                @media (max-width:$screen-xs-max){
                    margin:5px 0;
                }
            }
            .custom-select-box{
                display: inline-block;
                width:227px;
                margin-left:20px;
                @media (max-width:$screen-md-max){
                    width:165px;
                }                
            }
            .gaf-select-box{
                min-width: 200px;
                float:left;
                .form-control{
                    @media (max-width:$screen-sm-max){
                        width:161px;
                        float:left;
                        margin-left:10px;
                    }
                }
                label{
                    text-transform: none;
                }
            }
        }
    }
    .gaf-form{
        margin-bottom:0;
        position: relative;
        margin:19px 0;
        @media (max-width: $screen-xs-max) {
            margin-top: 0;
        }
        label{
            text-align: left;
            padding-right: 0;
            text-indent: 6px;
            @media (max-width: $screen-sm-max) {
                text-indent: 0;
                padding-left:0;
            }
        }
    }
    .ad-search-filter-icon{
        a{
            font-size:27px;
            margin-top: 24px;
            text-align: right;
            @media (max-width: $screen-xs-max){
                margin-top: 2px;
            }
        }
    }
    .ad-search-btn{
        height:84px;
        background:$background-highlight;
        border:none;
        border-radius:0;
        outline: 0;
        font-size: 16px;
        font-family: $webfont-medium;
        i{
            font-size:8px;
            margin-left:15px;
            position: relative;
            top:-1px;
            display: inline-block;
            transition:all 0.2s linear;
            @include transform-rotate(180deg);
        }
        &.open-advance-search{
            i{
              @include transform-rotate(0deg);
            }
        }
        &.active{
            i{
                @include transform-rotate(180deg);
            }
        }
        &:active, &:focus{
            background: $background-highlight;
            box-shadow: none;
            outline: 0;
        }
    }
}
.gaf-ad-search-panel{
    margin-bottom:0;
    box-shadow:none;
    border:0;
    background:$background-highlight;
    @media (max-width: $screen-sm-max){
        border-width: 1px 0 0;
        margin: 0 -15px;
        border-radius: 0;
        border-style: solid;
        border-color: $color-border-primary;
        background: none;
    }
    .collapse {
        &.in {
            @media (max-width: $screen-sm-max){
                border-bottom: 1px solid $color-border-primary;
            }
        }
    }
    .panel-body{
        padding:20px;
        @media (max-width: $screen-sm-max){
            padding: 15px;
        }
    }
    .gaf-form{
        margin: 0;
        @media (max-width: $screen-sm-max){
            margin-bottom: 15px;
            width:100%;
        }
        &.product-input{
            margin-right:0px;
            @media (max-width: $screen-sm-max){
                width:100%;
            }
            input{
                width:238px;
                padding-right: 40px;
                @media (max-width: $screen-md-max){
                    width:150px;
                }
                @media (max-width: $screen-sm-max){
                    width:100%;
                }
            }
        }
    }
    .filterby{
        font-family: $webfont-medium;
        color:$color-primary;
        .custom-select-box{
            display: inline-block;
            span.caret{
                margin-right:0;
            }
        }
        span{
            @media (max-width: $screen-sm-max){
                margin-bottom:7px;
            }
            &:first-child{
            margin-right:20px;
            }
        }
        span.input-short-text{
            margin-left:8px;   
            @media (max-width: $screen-sm-max){
                font-size:12px;
                margin-left:0px;
            } 
        }
        label{
            font-family: $webfont-medium;
            margin-left:33px;
            margin-right:20px;
            @media (max-width: $screen-md-max){
                margin-left:20px;
            }
            @media (max-width: $screen-sm-max){
                margin-left:0;
                display: block;
                margin-top:0;
                margin-bottom:7px;
            }
        }
        .match-criteria{
            @media (max-width: $screen-sm-max){
                width:100%;
            }
            .custom-select-box{
                width:140px;
                @media (max-width: $screen-md-max){
                    width:110px;
                }
                @media (max-width: $screen-sm-max){
                    width:100%;
                }
            }
        }
        .select-user{
            @media (max-width: $screen-sm-max){
                width:calc(50% - 7.5px);
                float:left;
                margin-right:15px; 
             }
            .custom-select-box{
                width:178px;
                @media (max-width: $screen-md-max){
                    width:122px;
                }
                @media (max-width: $screen-sm-max){
                    width:100%;
                }
            }
        }
        &.calender-section{
            margin-top:30px;
            @media (max-width: $screen-sm-max){
                margin-top:0;
            }
        }
        .calender-input{
            @media (max-width: $screen-sm-max){
               width:calc(50% - 7.5px);
               float:left;
            }
            &:first-child{
                margin-right:30px;
                @media (max-width: $screen-sm-max){
                    margin-right:15px;
                }
            }
            input{
                width:170px;
                @media (max-width: $screen-md-max){
                    width: 155px;
                }
                @media (max-width: $screen-sm-max){
                    width:100%;
                }
            }
            label[class^="icon"]{
                font-size:19px;
                margin:0;
            }
        }
        .select-claims{
            @media (max-width: $screen-sm-max){
                width:calc(50% - 7.5px);
                float: left;
            }
            .custom-select-box{
                width:238px;
                margin-left: 14px;
                @media (max-width: $screen-md-max){
                    width:150px;
                }
                @media (max-width: $screen-sm-max){
                    width:100%;
                    margin-left: 0px;
                }
            }
        }
        .btn-actions{
            float:right;
            @media (max-width: $screen-sm-max){
                float:none;
            }
            .btn{
                width:100px;
                &:first-child{
                    margin-right:20px;
                    @media (max-width: $screen-sm-max){
                        margin-right: 15px;
                    }
                }
                @media (max-width: $screen-sm-max){
                    width:calc(50% - 7.5px);
                    float: left;
                }
            }
        }
        .gaf-form{
            .form-control{
                @media (max-width: $screen-sm-max){
                    height:40px;
                    width:100%;
                }
            }
        }
    }
}
  /** Placeholder **/

  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-primary;
    font-family: $webfont-medium;
    font-size:14px;
  }
  .form-control::-moz-placeholder { /* Firefox 19+ */
    color: $color-primary;
    font-family: $webfont-medium;
    font-size:14px;
  }
  .form-control:-ms-input-placeholder { /* IE 10+ */
    color: $color-primary;
    font-family: $webfont-medium;
    font-size:14px;
  }
  .form-control:-moz-placeholder { /* Firefox 18- */
    color: $color-primary;
    font-family: $webfont-medium;
    font-size:14px;
  }

  /** No result found **/

  .no-result-found{
      text-align: center;
      padding:15px 0;
  }

  /** IOS css **/

  .gaf-device-ios {
    .gaf-btn-primary,
    .gaf-btn-secondary {
        padding: 4px 16px 0;
    }
    input.form-control {
        padding: 6px 12px 0;
    }
    select.form-control{
        line-height: 34px;
        @media (max-width:$screen-sm-max) {
            line-height: 30px;
        }
    }
    .gaf-accordian {
        .panel-title {
            a {
                margin-top: 2px;
                display: inline-block;
                &:before{
                    top:-0.5px !important;
                }
            }
        }
    }
    .invoice-upload-files{
        .upload-btn{
            height: 35px;
            line-height: 25px;
        }
    }
    #myplan-tabheader-filterby {
        select {
            line-height: 20px;
        }
    }
    .gaf-pagination {
        .showby-select {
            .form-control {
                @media (max-width: $screen-xs-max) {
                    line-height: 20px;
                }
            }
        }
    }
    ul.pagination-actions {
         li {
             a {
                 line-height: 29px;
             }
         }
    }
    .ribbon {
        p {
            margin-top: 2px;
        }
    }
    .cancel-popup {
        .spot-promotion-action {
            .upload-cancel-btn,
            .upload-submit-btn {
                padding: 4px 0 0;
                line-height: 41px;
            }
        }
    }
    .gaf-global-main {
        .add-new-spot-promotion {
            button.gaf-add-button {
                padding: 9px 10px 5px;
            }
        }
    }
    .upload-new-spot-promotion {
        .invoice-upload-files {
            .upload-btn {
                line-height: 25px;
            }
        }
    }
    .create-spot-promotion-addform {
        .custom-select-box {
            .dropdown {
                .btn {
                    padding-top: 10px;
                }
            }
        }
    }
    .ems-select-box {
        .dropdown {
            .btn {
                padding-top: 10px;
            }
            .dropdown-menu {
                li {
                    a {
                        padding: 15px 10px 11px;
                    }
                }
            }
        }
    }
}

  /** Multiseleft Dropdown **/

  .rpm-dropdown {
    .btn {
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 35px;
        text-overflow: ellipsis;
    }
    ul.dropdown-menu {
        max-height: 200px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 15px;
        }
        &::-webkit-scrollbar-track {
            background-color: $color-grey;
            border-width: 1px;
            border-style: solid;
            border-color: $color-border-primary;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-border-primary;
            border: 3px solid transparent;
            border-radius: 0px;
            background-clip: content-box;
        }
    }
    .dropdown-menu li {
        padding: 20px 10px 0px;
        text-transform: capitalize;
        display:inline-block;
        width:100%;
        .gaf-checkbox {
            padding: 0;
            label {
                margin-bottom: 0;
                line-height: inherit;
            }
            .control-checkbox span {
                font-size: 14px;
                font-family: $webfont-medium;
            }
        }
    }
}

/**  Datepicker **/

.react-datepicker-wrapper, .react-datepicker__input-container{
    width:100%;
    .react-datepicker__close-icon{
       display:none;
    }
}

.react-datepicker-popper{
    z-index: 1079;
    &[data-placement^=bottom]{
        z-index: 1;
    }
    .react-datepicker{
        border-radius: 0;
        .react-datepicker__header{
            background-color: $background-highlight;
        }
        .react-datepicker__current-month{
            font-size:12px;
            font-family: $webfont-medium;
            text-transform: uppercase;
            font-weight: normal;
        }
        .react-datepicker__header__dropdown{
            select{
                font-size:11px;
                padding:1px;
                text-transform: uppercase;
                margin:5px;
            }
        }
    }
    .date-clear-btn{
        width: 100%;
        border: none;
        background: transparent;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 11px;
        border-top: 1px solid $color-border-primary;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
        width:2rem;
        line-height:2rem;
        font-size:10px;
        font-family: $webfont-medium;
        color: $color-primary;
    }
    .react-datepicker__day--keyboard-selected{
        background-color: transparent;
        color: $color-primary;
    }
    .react-datepicker__day--today {
        border-radius: 0;
        background-color: $color-primary;
        color: $color-white;
    }
    .react-datepicker__day--selected{
        border-radius: 0;
        background-color: $color-secondary;
        color: $color-white;
    }
    .react-datepicker__day--disabled{
        opacity: 0.5;
    }
    .react-datepicker__day--today{
        font-weight: normal;
    }
}

/*toast message*/

.gaf-model-popup.gaf-toast-main {
    text-align: center;
    .modal-body {
        padding: 0;
    }
    .modal-dialog {
        display: inline-block;
    }
    .modal-header {
        padding: 0;
    }
    a {
        position: absolute;
        right: 15px;
        top: 26px;
        margin-top: -7px;
        z-index: 99;
        font-size: 14px;
    }
    .gaf-toast-dialog {
        display: table;
        width: 100%;
        text-align: left;
        span {
            display: table-cell;
            background: $color-green;
            vertical-align: middle;
            padding: 15px 0;
            text-align: center;
            width: 54px;
            @media (max-width:$screen-xs-max) {
                display: block;
                line-height: 47px;
                text-align: center;
                width: 50px;
                height: 50px;
                border: 1px solid $color-green;
                border-radius: 100%;
                margin: 15px auto 0;
                padding: 0;
            }
            &:before {
                color: $color-white;
            }
        }
        &.error-dialog{
            span{
                background: $color-secondary;
            }
        }
        p {
            display: table-cell;
            padding: 15px 40px 15px 15px;
            margin: 0;
            @media (max-width:$screen-xs-max) {
                display: block;
                text-align: center;
            }
        }
    }
}

/*alert message*/

.gaf-model-popup.gaf-toast-alert-main {
    text-align: center;
    .modal-dialog {
        display: inline-block;
    }
    .modal-body {
        padding: 0;
    }
    .modal-header {
        padding: 0;
    }
    a {
        position: absolute;
        right: 15px;
        top: 26px;
        margin-top: -7px;
        z-index: 99;
        font-size: 14px;
    }
    .gaf-toast-alert-dialog {
        display: table;
        width: 100%;
        background: #fff;
        position: relative;
        text-align: left;
        span {
            display: table-cell;
            background: $color-secondary;
            vertical-align: middle;
            padding: 15px 0;
            text-align: center;
            width: 54px;
            @media (max-width:$screen-xs-max) {
                display: block;
                line-height: 47px;
                text-align: center;
                width: 50px;
                height: 50px;
                border: 1px solid $color-secondary;
                border-radius: 100%;
                margin: 15px auto 0;
                padding: 0;
            }
            &:before {
                color: $color-white;
                font-size: 20px;
            }
        }
        p {
            display: table-cell;
            padding: 15px 40px 15px 15px;
            margin: 0;
            font-size: 14px;
            font-family: $webfont-regular;
            @media (max-width:$screen-xs-max) {
                display: block;
                text-align: center;
                padding: 15px;
            }
        }
    }
}

/*Modal*/

.modal {
    @media (max-width:$screen-sm-max) {
        padding: 0 !important;
    }
}