@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?c2feyo');
  src:  url('../../fonts/icomoon.eot?c2feyo#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?c2feyo') format('truetype'),
    url('../../fonts/icomoon.woff?c2feyo') format('woff'),
    url('../../fonts/icomoon.svg?c2feyo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #494949;
}

.icon-alert-danger:before {
  content: "\e91f";
}

.icon-add:before {
  content: "\e914";
  color: #fff;
}
.icon-arrow-up:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-double-arrow-left:before {
  content: "\e917";
}
.icon-double-arrow-right:before {
  content: "\e918";
}
.icon-down-arrow-circle:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e91a";
}
.icon-filter:before {
  content: "\e91b";
}
.icon-arrow-left:before {
  content: "\e91c";
}
.icon-arrow-right:before {
  content: "\e91d";
}
.icon-up-arrow-circle:before {
  content: "\e91e";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-check-circle:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-email:before {
  content: "\e90d";
}
.icon-Export-Icon:before {
  content: "\e90e";
}
.icon-info:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.icon-scissors:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-question:before {
  content: "\e902";
}
.icon-rewards-ribbon:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-star-rewards:before {
  content: "\e905";
}
.icon-upload:before {
  content: "\e906";
}
.icon-user-avtar:before {
  content: "\e90a";
}
