.plan-details{
    .filterby{
        float: right;
        @media (max-width:$screen-sm-max){
            float:left;
            width:100%;
        }
        label{
            @media (max-width:$screen-sm-max){
                float:left;
                margin: 5px 0;
            }
            @media (max-width:$screen-xs-max){
                margin:5px 0;
            }
        }
        .custom-select-box{
            display: inline-block;
            width:200px;
            margin-left:20px;
            margin-right: 40px;
        }
        .gaf-select-box{
            min-width: 200px;
            float:left;
            .form-control{
                @media (max-width:$screen-sm-max){
                    width:121px;
                    float:left;
                    margin-left:10px;
                    height: 30px;
                }
            }
        }
        .gaf-export-block{
            margin-top:8px;
            @media (max-width:$screen-xs-max){
                margin-top:2px;
            }
            i:first-child{
                @media (max-width:$screen-xs-max){
                    font-size:25px;
                }
            }
        }
    }

.gaf-title-block{  
    h2{
        margin-top:0;
        margin-bottom:20px;
        font-family: $webfont-medium;
        @media (max-width:$screen-sm-max){
           font-size: 24px;
           text-align: center;
           border-bottom: 1px solid $color-border-primary;
           padding-bottom: 15px;
        }
    }
    table{
        font-family: $webfont-medium;        
        tr:last-child td {
            padding-bottom: 0;          
        }
        @media (max-width:$screen-sm-max){
            text-align: left;
         }              
     }  
    td{
        padding-bottom: 15px;
        padding-right: 30px; 
        vertical-align: top;
        @media (max-width:$screen-sm-max){
           padding-bottom:15px;
           padding-right: 0;         
           &:first-child{
               width: 56%;
               @media (max-width:$screen-xs-max){
                width: 36%;
               }
           }
           &:last-child{
            width: 44%;    
            font-family: $webfont-regular;       
            }
         }      
    }
    p{
        float: right;
        font-family: $webfont-medium;
        @media (max-width:$screen-sm-max){
           float: none; 
           text-align: center;
           margin-top: 15px;
          }  
        a{
            text-decoration: underline;
        }
    }
}
.plan-filter{
    float: left;
    width: 69%;
    margin-left: 45px;
    @media (max-width:$screen-sm-max){
        margin-left: 0;
       } 
}
}