.contractor-management{
    .gaf-table-header {
        h4{
            @media (max-width:$screen-xs-max){
                margin-bottom: 20px;
            }
        }
        .contractor-table-title{
            float: left;
            width: calc(100% - 300px);
            @media (max-width:$screen-xs-max){
                width: auto;
            }
        }
        .contractor-icon-block{
            width: 300px;
            float: left;           
        }
    }
    .gaf-table {
        tr td, tr th{
            padding:10px;
            padding-right: 15px;
            @media (max-width:$screen-xs-max){
                padding: 3px 5px;
            }
        }
        tr td{
            padding:7px 10px;
            @media (max-width:$screen-xs-max){
                padding-left:50% !important;
            }
            &:before{
                @media (max-width:$screen-xs-max){
                    width:45%;
                }
            }
            @media (max-width:$screen-xs-max){
                padding: 3px 5px;
            }
            &:nth-child(2){
                span{
                    max-width: 140px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    @media (max-width:$screen-xs-max){
                        width:auto;
                        display: inline;
                    }
                }
            }
            &:nth-child(3){
                span{
                    max-width: 120px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    margin-right: 0;
                    position: relative;
                    top: 3px;
                    @media (max-width:$screen-xs-max){
                        width:auto;
                        display: inline;
                    }
                }
            }
            &:last-child{
                &:before{
                    top:8px;
                }
            }
            &:nth-last-child(2){
                &:before{
                    top:8px;
                }
            }
        }
    }
}