/* @font-face {
  font-family: 'Open Sans';
  src: url('/webfonts/OpenSans.woff2') format('woff2'), url('/webfonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/webfonts/OpenSans-SemiBold.woff2') format('woff2'), url('/webfonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/webfonts/OpenSans-Bold.woff2') format('woff2'), url('/webfonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
 */

body {
  margin: 0;
  font-family: 'Open Sans';
  overflow: hidden;
  /* background-color: #f2f3f6; */
}

h1, h2, h3, h4, h5, p, span, a, div {
  font-family: 'Open Sans';
}

/* sidebar */

/*.sidebar {
  top: 110px;
}*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
  z-index: 1;
}
.navbar-nav {
  font-size: 13px;
}
a.nav-link{
  color: #000 !important;
}
.navbar-nav li.dropdown.nav-item {
  padding-bottom: 0;
}
.nav-link {
  padding-left: 0.5rem;
}
.dropdown ul.dropdown-menu {
  top: 0;
}
.dropdown-wrapper {
  width: 208px;
  display: none;
  position: absolute;
  left: -3px;
  top: 40px;
  display: none;
  min-height: 60px;
  z-index: 99999;
}
.dropdown-wrapper.sub-dropdown {
  top: -12px;
  left: 189px;
}
.dropdown-menu a {
  position: relative;
}
a.disabledMenuItem{
  background: #e7e7e7 !important;
  opacity: 0.5;
}
.dropdown-menu .dropdown:hover > a::before{
  content: "." !important;
  font-size: 40px;
  color: #ff8700;
  position: absolute;
  left: 8px;
  top: 1px;
  font-family: arial;
  line-height: 0;
}

.dropdown-menu a:hover,
.dropdown-menu a:active {
  background: #e5ecf8;
  color: #333 !important;
  z-index: 90;
}

li.nav-item {
  padding: 5px 0;
  list-style: none;
}
.topheader .navbar-nav li.dropdown:hover .underline,
.active .underline {
  display: block !important;
}
.topheader .navbar-nav li.dropdown:hover > .dropdown-wrapper {
  display: block;
}
.topheader .navbar-nav li.dropdown:hover .dropdown-menu {
  font-size: 13px;
  margin-top: 3px;
  display: block;
  border-radius: 0;
  border-radius: 2px;
  box-shadow: 0 4px 6px 0 #b4bdcb33;
  border: solid 1px #c2c3c32e;
  background-color: #fff;
  padding: 7px;
  min-width: 208px;
}
.hidemenu{
  display: none !important;
}
/* .sidebar {
  position: fixed;
  height: calc(100% - 112px);
  width: 260px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 2px 0 0 0 #ebedf0;
  background-color: #f8f8f8;
} */

.sidebar {
  position: fixed;
  height: calc(100% - 112px);
  width: 260px;
  background-color: #fff;
  margin-top: 2px;
  z-index: 9;
  box-shadow: 2px 0 0 0 #ebedf0;
  background-color: #f8f8f8;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* bcg */

.parameters {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  opacity: 0.6;
  display: inline-block;
}

.settings, .collapse-icon, .recent-search {
  width: 24px;
  height: 25px;
  object-fit: contain;
}

.bcg>li.collapse-list, .bcg>li.collapse-list-mini {
  float: left;
  margin-left: 6px;
}

.bcg>li.recent-list, .bcg>li.find-button-list {
  float: right;
}

/* bcg */

/* sidebar wrapper */

.sidebar-wrapper {
  clear: both;
}

.sidebar .sidebar-wrapper {
  overflow: auto;
  z-index: 4;
  width: 260px;
  height: calc(100% - 132px);
}

.sidebar .sidebar-wrapper .form-group {
  padding: 0px 10px 0px 10px;
}

.TextField:focus {
  background-color: #e5ecf8;
}

.TextField {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.TextField::placeholder {
  opacity: 0.7;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: rgba(85, 88, 90, 0.82);
}

label {
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #000000;
}

.sidebar-mini .sidebar .sidebar-wrapper, .sidebar-mini .sidebar .findButton {
  display: none;
}

.sidebar-mini .sidebar .bcg .collapse-list .parameters, .sidebar-mini .sidebar .bcg .recent-list, .sidebar-mini .sidebar .bcg .find-button-list {
  display: none;
}

.sidebar-mini .sidebar, .sidebar-mini .sidebar .sidebar-wrapper {
  width: 46px;
}

.sidebar-mini .main-panel {
  width: calc(100% - 46px);
}

.pagination .page-item {
  padding: 0 !important;
  font-size: 12px;
  color: #0047ba;
}

.pagination .page-item.active {
  background-color: #e5ecf8;
  padding: 0 !important;
  margin-right: 5px;
}

.pagination .page-item.active .page-link {
  color: #000000;
  box-shadow: none;
}

.ReactTable .pagination .page-item .page-link.this-page {
  border: 1px solid #ddd;
  background-color: #e5ecf8;
  opacity: 1;
}

.page-link:focus {
  box-shadow: none;
}

.pagination .page-item .page-link {
  padding: 5px;
  border: none;
  color: #0047ba;
  background-color: transparent;
}

.ReactTable .pagination .page-item .page-link {
  padding: 0 10px;
  border: none;
  background-color: transparent;
}

.form-group {
  margin-bottom: 0 !important;
}

/* sidebar wrapper */

/* Find Button */

div.findButton {
  width: 260px;
  box-shadow: 1px 1px 1px 0 rgba(28, 53, 100, 0.1);
  background-color: #ffffff;
  padding: 10px;
}

div.findButton .clear-btn {
  width: 98px;
  height: 32px;
  border-radius: 2px;
  background-color: #e3f0fe;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #0047ba;
}

div.findButton .find-btn {
  width: 98px;
  height: 32px;
  border-radius: 2px;
  background-color: #0047ba;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.page-item.active .page-link {
  z-index: 0;
}

div.findButton div.form-row div.col {
  margin-top: -5px;
}

span.profile {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #010101;
}

/* Find Button */

/* main panel */

.main-panel {
  width: calc(100% - 260px);
}

/* main panel */

@media (min-width: 768px) {
  .bcg {
    margin: 0;
    height: 52px;
    padding: 10px 10px 10px 5px;
    margin-bottom: 0;
    list-style: none;
  }
}

@media (min-width: 992px) {
  .sidebar {
    display: block !important;
  }
  .sidebar-mini .sidebar {
    display: block;
    font-weight: 200;
    z-index: 3;
  }
  .sidebar-mini .sidebar {
    height: calc(100% - 112px);
  }
}

/*Header*/

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem !important;
    margin-right: 10px;
  }
}

.listViewTitle {
  font-weight: 600;
}

.mainContainer {
  margin: 0;
  background-color: #FFF;
}

.findContainer {
  padding: 0 !important;
}

.findContainer .col-sm-3 {
  max-width: 20%;
}

.findContainer .pagination
{
  font-weight: 600;
} 

.findContainer .col-sm-9 {
  max-width: 79%;
  flex: 0 0 79%;
}

.pageToolBar .providerNavbar {
  margin: 0 !important;
  z-index: 7;
}

.pageTitle {
  width: 107px;
  height: 24px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
}

.Bread {
  width: 50px;
  height: 16px;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0047ba;
  padding: 0 !important;
}

/* Style top the header */

.header {
  height: 50px !important;
  z-index: 8;
  background: #1c3564;
  color: #f1f1f1;
  padding-right: 0;
}

.header img {
  float: left;
  margin-left: -10px;
}

.indicator {
  width: 71px;
  height: 3.8px;
  background-color: #ff8700;
  margin: 6px 0 0 20px;
}

.createBtn {
  width: 131px;
  height: 32px;
  border-radius: 2px;
  background-color: #0047ba;
  margin-left: 16px;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.pageToolBar .ccl-recent-search-wrapper {
  right: 160px !important;
  top: 45px;
}

.topheader a.nav-link {
  opacity: 0.7;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  text-align: center;
  color: #ffffff !important;
}

.topheader .active a.nav-link {
  opacity: 1;
  color: #ffffff !important;
  /* font-weight: 600 !important; */
}

.topheader li:hover a.nav-link {
  opacity: 1;
  color: #ffffff !important;
  font-weight: 400;
  cursor: pointer;
}

.topheader .underline {
  width: 90%;
  position: absolute;
  display: none;
  bottom: -5px;
  margin: auto;
  left: -11px;
  right: 0;
  height: 4px;
  background-color: #ff8700;
}

/* Page content */

.content {
  font-family: 'Open Sans';
  font-size: 12px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
  padding-top: 102px;
}

/* Sidebar*/

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #f1f1f1;
  border-right: 3px solid #ececec;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  font-weight: 500;
  color: #1a1a1a!important;
  cursor: pointer;
}

.main {
  margin-left: 250px;
  /* Same as the width of the sidenav */
  font-size: 16px;
  /* Increased text to enable scrolling */
  padding: 0px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* End of Sidebar */

.sideHeader {
  padding: 5px;
  width: 250px;
  background-color: #ebedf0;
  text-align: left;
  font-size: 12px;
  font-family: 'Open Sans';
}

.sideHeader ul {
  padding-left: 10px;
}

.sideHeader li {
  width: 180px;
  font-size: 13px;
  list-style-type: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.sideHeader a:-webkit-any-link {
  color: black !important
}

.sideHeader a:hover {
  text-decoration: none;
  cursor: pointer;
}

.sideHeader a.activeMenu {
  color: black !important;
  background-color: #e5ecf8;
  font-weight: 600 !important;
  margin-left: -10px;
}

.sideHeader a.activeMenu::before {
  content: "\A";
  width: 4px;
  height: 4px;
  background: #ff8700;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

ul li a.activeMenu {
  list-style-type: disc;
}

a:-webkit-any-link {
  border-bottom: 0px !important;
}

.ReactTable {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 15px;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  flex: 1 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 5px;
  overflow: hidden;
  transition: .3s ease;
  transition-property: width, min-width, padding, opacity;
  cursor: pointer;
}

.left-neg-25 {
  left: -25px;
}

.react-skeleton-load {
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.react-skeleton-load.animated::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 500px;
  top: 0;
  left: -500px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  animation: progress 1.2s ease-in-out infinite
}

@keyframes progress {
  0% {
    left: -500px
  }
  100% {
    left: 100%
  }
}

.loader {
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  top: 50%;
}

.flex-fill {
  font-family: 'Open Sans';
}

div.findButton div.form-row div.col {
  margin-top: 8px;
  text-align: center;
}

.esr-table .ListViewTitle {
  padding-top: 8px;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid #ddd;
}

.ReactTable .rt-tbody .rt-td .LastRow .dropdown-content {
  background: #FFF !important;
  padding: 15px;
  right: -7px;
}

.ReactTable .rt-thead .rt-resizable-header:last-child {
  overflow: hidden;
  background: #f4f4f4;
  /* padding-right: 0; */
  margin-right: -18px;
  border-right: 0;
}

.-pageSizeOptions {
  display: none;
}

.rt-noData {
  display: none !important;
}

.rt-table {
  height: 70vh;
}

.ReactTable .rt-tr-group {
  flex: none;
}

.-padRow {
  border: 0 !important;
}

/** Login Container CSS*/

.login-container {margin: auto;margin-top: 36px;padding: 28px;max-width: 424px;border-radius: 4px;box-shadow: 0 2px 4px 0 #eaeaea;border: solid 1px rgba(86, 89, 91, 0.16);background-color: var(--white);}
.login-container .row-input .input-col{margin-bottom: 8px;margin-top: 8px; z-index:unset;}
.login-container .row-input .password-input label{width: auto;}
.login-logo {width: 180px; left: 0; right: 0; margin: auto; margin-bottom: 20px;}
.forgot-password {float:right; font-size: 12px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 2.5;letter-spacing: normal;text-align: right;color: #0047ba;}
.remember-me {font-size: 14px;}
.login-btn {width: 100%;margin-top: 20px;background-color: #0047ba;border-radius: 2px; color: #fff}

.custom-checkbox.form-group label:before {padding: 6px;}
.custom-checkbox.form-group input:checked + label:before {background-color: #0047ba;border: 2px solid #0047ba;}
.custom-checkbox.form-group input:checked + label:after {top: 6px;left: 6px;width: 4px;height: 10px;border: solid #fff;border-width: 0 2px 2px 0;}

.navbar-light .navbar-nav .nav-link {
  color: #0047ba;
}

.modal-header, .modal-footer {
  border: 0;
}

.disabledMenuItem:hover {
  background-color: #DDD;
  border: 0 !important;
  cursor: not-allowed;
}

.disabledMenuItem {
  background-color: #DDD !important;
}

.dropdown-menu a.disabledMenuItem:hover::before, .dropdown-menu a.disabledMenuItem:active::before {
  content: '';
}

.password-input .show-password {
  top: 5px
}

.alert-container {
  margin-top: 10px
}

.open-session-detail {
  margin-top: 20px;
  font-size: 13px;
}

.open-session-detail .row-header {
  font-weight: bold;
  color: #ccc;
}

.open-session-detail .row-header .row-col {
  color: #6d6d6d;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}

.open-session-detail .row-body {
  color: #000;
}

.open-session-detail .row-body .row-col {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  color: #000000;
}
.disconnect-btn{background: #0047ba;}
.cancel-session-btn {
  background: #fff;
  border: 1px solid #007bff;
  color: #007bff;
}

.powered-by-container {
  margin: auto;
  margin-top: 20px;
}

.powered-by-container .powered-by-logo, .terms-conditions {
  width: 100%;
  text-align: center;
}

.powered-by-logo .powered-by-text {
  font-size: 12px;
  color: #56595b;
  margin-right: 10px;
}

.powered-by-text {
  font-size: 13px;
  margin-right: 7px;
  color: #d3d3d3;
}

.powered-by-logo .powered-by-text a {
  color: #0047ba;
}
.input-required, .text-danger {
  width: 6px;
  height: 5.8px;
  color: #a81f00 !important;
}
/* common modal styles */
.common-popup-position {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.open-session-detail .row-body {
  border-bottom: 0;
  color: #000;
}

.cancel-session-btn {
  background: #fff;
  border: 1px solid #007bff;
  color: #007bff;
}

.sidebar .form-control, .sidebar .react-dropdown-select-input, .react-dropdown-select-content span {
  font-size: 13px !important;
}

.sidebar .form-control:hover {
  border-color: #0069d9;
}

.sidebar .react-dropdown-select-contentt {
  min-height: 26px !important;
}

.col-6.text-left.ListViewTitle.pl-3 {
  font-size: 18px;
  ;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  font-size: 11px;
  ;
}

.pagination-sm .page-link, .flex-fill.text-right.pageDetails {
  font-size: 13px;
}

.rt-tr-group.-striped.-highlight .rt-tr {
  background-color: unset !important;
}

.rt-tr-group.-striped.-highlight .rt-tr:hover {
  background-color: #e5ecf8 !important;
}

.common-popup-body {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #000;
}

.common-popup-header {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000;
}

.common-popup-button {
  width: 120px;
  height: 36px;
  border-radius: 2px;
  background-color: #0047ba;
  color: #FFF;
}

.common-popup-size {
  width: 424px;
  height: 236px;
  border-radius: 4px;
}
.common-popup-size1 {
  width: 350px;
  height: 236px;
  border-radius: 4px;
}
/* end */
.login-error-container {margin-top:16px}
.alert-danger .error-icon {float: left;width: 10%; margin-right: 10px;}
.alert-danger .error-message {width: 100%; font-size: 11px;}

/* Icons specific styles starts */
.submenu-arrow{
  transform: rotate(-86deg);
  width: 24px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 6px;
}

/* Icons specific styles ends */

.homepage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f3f6;
}

.no-record-container {
  height: 87vh;
  background: rgba(226, 228, 231, 0.3);
  margin-top: 16px;
}
.popup-msg {font-size: 18px;}
