.redeem-points-main {
    .mt-30 {
        margin-top: 30px;
    }
    .redeem-points-box {
        padding: 30px;
        background-color: $color-white;
        border: 1px solid $color-border-primary;
        @media (max-width: $screen-sm-max) {
            padding: 15px;
        }
        margin-bottom: 0;
        p.search-icon {
            margin: 0;
        }
        .rp-text {
            text-align: center;
            margin: auto;
        }
    }
    .gaf-title-block {
        h2{
            margin-bottom:5px;
        }
        p.avail-balance {
            text-align: right;
            margin-top:0;
            font-family: $webfont-demi;
            span {
                padding-left: 8px;
            }
            @media (max-width: $screen-sm-max) {
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
    .redeem-points-block {
        span {
            font-size: 24px;
            @media (max-width: $screen-sm-max) {
                display: block
            }
        }
        p {
            color: $color-primary;
            margin-top: 0;
        }
        h3 {
            font-size: 20px;
            margin: 0 0 20px;
            font-family: $webfont-medium;
            padding-left: 15px;
            @media (max-width: $screen-sm-max) {
                margin: 0 0 10px;
            }
        }
        .gift-card-title {
            padding-left: 0;
            @media (max-width: $screen-xs-max) {
                border-bottom: 1px solid $color-border-primary;
                padding: 0 15px 15px;
                margin: 0 -15px 15px;
            }
        } 
        .form-group {
            small {
                font-size: 12px;
                color: $color-primary;
                font-family: $webfont-medium;
                display: block;
                margin-top: 6px;
            }
        }
        .card-img {
            float: left;
            max-width: 160px;
            max-height: 100px;
            @media (max-width: $screen-xs-max) {
                float: none;
                max-width: 120px;
                max-height: 75px;
                margin-bottom: 10px;
            }
        }
        .form-gaf-left {
            padding-left: 20px;
            .gaf-form label {
                text-transform: none;
            }
            @media (max-width: $screen-sm-max) {
                padding-left: 0;
            }
        }
        .debit-card-info {
            .debit-card-content {
                max-height: 215px;
                overflow-y: auto;
                margin-left: 180px;
                @media (max-width: $screen-xs-max) {
                    margin-left: 0;
                }
            }
            .c-box-inner-desc {
                max-height: 215px;
                overflow-y: auto;
                padding-right: 10px;
                @media (max-width: $screen-xs-max) {
                    max-height: 111px;
                    overflow: hidden;
                    padding-right: 0;
                }
            }
            p {
                font-family: $webfont-regular;
                line-height: 24px;
                @media (max-width: $screen-sm-max) {
                    text-align: left;
                }
                @media (max-width:$screen-xs-max) {
                    margin-top: 10px;
                }
            }
            h4 {
                margin-top: 0; 
                font-family: $webfont-medium;
                font-size: 16px;
                line-height: 1.3;
            }
        }
        .gaf-form {
            margin-bottom: 20px;
            .error-highlighter {
                span.error-message {
                    font-size: 14px;
                    font-family: $webfont-regular;
                    color: $color-secondary;
                    display: inline-block;
                }
                .input-error {
                    margin-bottom: 10px;
                }
            }
        }
        .addto-cart-btn {
            button.btn {
                width: 170px;
                @media (max-width: $screen-xs-max) {
                    width: 100%;
                    margin-top: 0;
                }
            }
        }
        .c-type-lable {
            padding-bottom: 10px;
            font-size: 14px;
            font-family: $webfont-demi;
            color: $color-primary;
            float: left;
            margin-right: 19px;
            @media (max-width: $screen-xs-max) {
                width: 100%;
                float: none;
                margin-right: 0;
            }
        }
        .gaf-checkbox-wrap {
            float: right;
            @media (max-width: $screen-xs-max) {
                float: none;
            }
        }
        .gaf-checkbox-left {
            float: left;
            margin-right: 40px;
            @media (max-width: $screen-xs-max) {}
        }
        .gaf-checkbox-right {
            float: left;
            @media (max-width: $screen-xs-max) {}
        }
        .gaf-checkbox .control {
            color: $color-primary;
            font-family: $webfont-medium;
            font-size: 14px;
            @media (max-width: $screen-sm-max) {
                margin: 0 0 15px;
            }
        }
        .gaf-check-box {
            .gaf-checkbox {
                float: left;
                padding-top: 11px;
                &:last-child {
                    margin-left: 40px;
                }
                span {
                    font-size: 14px;
                    font-family: $webfont-medium;
                }
            }
        }
    }
    .redeem-filter-panel {
        background: #f3f3f3;
        margin: 0 -14px;
        padding: 20px;
        @media (max-width: $screen-sm-max) {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width:$screen-xs-max) {
            margin: 0;
            padding: 10px 0;
            border-width: 1px 0;
            border-style: solid;
            border-color: $color-border-primary;
            select {
                margin-bottom: 10px;
            }
        }
        .custom-select-box {
            @media (max-width: $screen-xs-max) {
                margin-bottom: 10px;
            }
        }
        .form-group {
            margin-bottom: 0;
            position: relative;
        }
        .gaf-input-icon .form-control {
            padding-right: 40px;
        }
    }
    .grid-item {
        @include flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
        @media (max-width: $screen-xs-max) {
            padding: 0 15px;
            margin-top: 20px;
        }
        .main {
            width: calc(25% - 69px);
            @media (max-width: $screen-sm-max) {
                width: calc(33.33% - 79px);
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                width: calc(25% - 30px)
            }
            &:nth-child(4n){
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    margin-right:0;
                }
            }
        }
        .grid {
            margin: 0 46px 30px;
            transition: all 0.2s ease-in-out;
            .c-box {
                @media (max-width: $screen-sm-max) {
                    width: calc(300% + 237px);
                }
                @media (max-width:$screen-xs-max) {
                    width: calc(200% + 15px);
                }
            }
            @media only screen and (min-width:1024px) {
                &:nth-child(4n+1) {
                    margin-left: 0;
                }
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
            @media (max-width:$screen-sm-max) {
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            @media (max-width:$screen-xs-max) {
                margin: 0 0 10px;
                width: calc(50% - 7.5px);
            }
            @media (max-width:$screen-xs-max) {
                &:nth-child(even) {
                    margin-left: 15px;
                }
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                margin: 0 40px 30px 0;
            }
        }
        .grid-open {
            .c-box {
                overflow: visible;
                margin-top: 22px;
                opacity: 1;
                max-height: 100%;
                min-height: 100px;
            }
            .face {
                background-color: $color-white;
                border: 1px solid $color-border-primary;
                padding: 0;
                box-sizing: border-box;
                transition: all 0.2s ease-in-out;
            }
            .face:before,
            .face:after {
                top: 99.9%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            .face:after {
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $color-white;
                border-width: 16px;
                margin-left: -16px;
            }
            .face:before {
                border-color: rgba(194, 225, 245, 0);
                border-top-color: $color-border-primary;
                border-width: 18px;
                margin-left: -18px;
            }
        }
        .face {
            width: 200px;
            height: 160px;
            position: relative;
            cursor: pointer;
            background-color: $background-highlight;
            border: 1px solid $background-highlight;
            transition: all 0.2s ease-in-out;
            box-sizing: border-box;
            text-align: center;
            @media (max-width: $screen-xs-max) {
                height: 101px;
                width: 100%;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                width:100%;
            }
            img {
                position: absolute;
                left: 50%;
                top: calc(50% + 15px);
                transform: translate(-50%, -50%);
                width: 80%;
                @media (max-width: $screen-xs-max) {
                    max-width: 65%;
                    max-height: 65%;
                    width: auto;
                }
            }
            &:hover {
                background-color: $color-white;
                border: 1px solid #ccc;
            }
            .face-title {
                background: $color-grey;
                padding: 5px 10px;
                color: $color-primary;
                font-family: $webfont-medium;
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .c-box {
            margin: 25px 0 0;
            box-sizing: border-box;
            width: calc(400% + 278px);
            background-color: $background-highlight;
            border: 1px solid $color-border-primary;
            position: relative;
            transition: all 0.2s ease-in-out;
            max-height: 0;
            min-height: 0;
            overflow: hidden;
            margin-top: 0;
            opacity: 0;
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                width: calc(400% + 120px);
            }
            .grid-content {
                padding: 15px;
            }
            a.c-box-close {
                position: absolute;
                right: 0;
                background: $background-highlight;
                line-height: normal;
                padding: 14px 14px 10px;
                top: 2px;
            }
            .c-box-inner {
                background-color: #fff;
                padding: 40px 20px;
                @media (max-width: $screen-xs-max) {
                    padding: 10px;
                }
                p {
                    text-align: left;
                    line-height: 22px;
                    @media (max-width: $screen-sm-max) {
                        margin-top: 0;
                    }
                }
                .text-danger {
                    @media (max-width: $screen-sm-max) {
                        margin: 10px 0 0;
                    }
                }
                .c-box-inner-desc {
                    max-height: 215px;
                    overflow-y: auto;
                    padding-right: 10px;
                    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                        max-height: 267px;
                    }
                    h4 {
                        font-size: 16px;
                        margin-top: 0;
                        font-family: $webfont-medium;
                        @media (max-width: $screen-sm-max) {
                            line-height: 150%;
                        }
                    }
                    @media (max-width: $screen-xs-max) {
                        max-height: 100px;
                        overflow-y: hidden;
                    }
                }
                label {
                    color: $color-primary;
                    font-family: $webfont-medium;
                    font-size: 14px;
                    white-space: nowrap;
                }
                small {
                    color: $color-primary;
                    font-size: 12px;
                    margin-top: 5px;
                    display: inline-block;
                    span.icon-question {
                        font-size: 18px;
                        vertical-align: text-bottom;
                        margin-left: 5px;
                    }
                }
                .gaf-radio {
                    label {
                        font-size: 14px;
                        @media (max-width: $screen-xs-max) {
                            margin-bottom: 0
                        }
                    }
                }
            }
        }
        .grid:nth-of-type(4n+2) {
            .c-box {
                margin-left: calc(-100% - 92px);
                @media (max-width:$screen-xs-max) {
                    margin-left: calc(-100% - 15px);
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    margin-left: calc(-100% - 40px);
                }
            }
        }
        .grid:nth-of-type(4n+3) {
            .c-box {
                margin-left: calc(-200% - 183px);
                @media (max-width:$screen-xs-max) {
                    margin-left: 0;
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    margin-left: calc(-100% - 266px);
                }
            }
        }
        .grid:nth-of-type(4n+4) {
            .c-box {
                margin-left: calc(-300% - 276px);
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    margin-left: calc(-100% - 493px);
                }
            }
        }
    }
    .proceed-btn {
        text-align: right;
        margin-top: 30px;
        .btn {
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }
    }
    .p-btn-fixed {
        position: fixed;
        bottom: 0px;
        background: $background-highlight;
        width: 100%;
        left: 0;
        z-index: 99;
        padding: 10px 0;
        .gaf-btn-primary {
            min-height: 40px;
            font-size: 14px;
        }
    }
    .addto-cart-btn {
        @media (max-width: $screen-xs-max) {
            margin-top: 10px;
        }
        button.btn {
            width: 170px;
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }
    }
    .gift-grid-innerbox {
        padding-left: 20px;
        @media (max-width: $screen-xs-max) {
            padding-left: 0;
        }
    }
    .debit-card-info {
        @media (max-width: $screen-xs-max) {
            border-bottom: 1px solid $color-border-primary;
            margin-bottom: 10px;
        }
    }
    .view-more-xs {
        @media (max-width: $screen-xs-max) {
            .debit-card-content {
                height: 60px;
                overflow-y: hidden;
            }
            .c-box-inner-desc {
                max-height: 100% !important;
            }
            .view-more {
                &:after {
                    width: 74px;
                    margin-left: -50px;
                }
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .view-more {
        font-size: 16px;
        color: $color-primary;
        font-family: $webfont-medium;
        margin-bottom: 10px;
        padding: 10px 0 0;
        position: relative;
        text-align: center;
        i {
            margin-left: 10px;
            position: relative;
            top: 2px;
            display: inline-block;
            transition: .5s all;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 81px;
            height: 1px;
            background: $color-border-primary;
            left: 50%;
            margin-left: -53px;
        }
    }
    select.form-control {
        box-shadow: none;
        border-radius: 0;
        height: 40px;
        padding: 6px 6px;
    }
    .dropdown-menu {
        li {
            a {
                text-transform: capitalize;
            }
        }
    }
    .custom-select-box {
        .btn {
            text-transform: capitalize;
        }
    }

    .list-3 {
        @media (max-width: $screen-sm-max) {
            .grid:nth-of-type(3n+1) {
                .c-box {
                    margin-left: 0;
                }
            }
            .grid:nth-of-type(3n+2) {
                .c-box {
                    margin-left: calc(-100% - 92px);
                }
            }
            .grid:nth-of-type(3n+3) {
                .c-box {
                    margin-left: calc(-200% - 183px)
                }
            }
        }
    }
    .list-2 {
        @media (max-width: $screen-xs-max) {
            .grid:nth-of-type(2n+1) {
                .c-box {
                    margin-left: 0;
                }
            }
            .grid:nth-of-type(2n+2) {
                .c-box {
                    margin-left: calc(-100% - 15px);
                }
            }
        }
    }
    .error-highlighter {
        .error-message {
            color: $color-secondary;
        }
    }
    .redeempoints-description,
    .redeem-points-block {
        .debit-card-info {
            width: calc(100% - 160px);
            float: left;
            padding-left: 20px;
            @media (max-width: $screen-xs-max) {
                width: 100%;
                padding-left: 0;
                text-align: left;
                margin-top: 5px;
                line-height: 1.3;
            }
        }
    }    
    .nameon-card {
        text-transform: uppercase;
        select {
            text-transform: uppercase;
        }
        .display-inline {
            display: block;
        }
    }
}