.submit-an-invoice {
    padding: 25px 30px 20px 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: $webfont-medium;
    border: 1px solid $color-border-primary;
    color:$color-primary;
    @media (max-width: $screen-xs-max) {
        text-align: center;
        padding: 15px 15px 10px 15px;
    }
    h2 {
        margin-bottom: 20px;
        margin-top: 0;
        font-family: $webfont-medium;
        @media (max-width: $screen-xs-max) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}
.upload-invoice-content {
    border-bottom: 1px solid $color-border-primary;
    color:$color-primary;
    p {
        margin-bottom: 20px;
    }
    :last-child {
        margin-bottom: 20px;
     @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
     }
    }
    span{
        font-family: $webfont-medium;
    }
}
.invoice-upload-files {
    color:$color-primary;
    margin-top: 20px;
    ul {
        list-style-type: none;
        padding-left: 0;
        font-family: $webfont-medium;
    }
    .prgrs-bar{          
    display: none;
    border: 1px solid $color-border-primary;   
    height: 15px;
    padding: 2px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 400px;
    background-color:$color-white; 
    border-radius: 0;
    @media (max-width: $screen-xs-max) {
       width: 100%;
    }
    .progress-bar{
        // background-color: rgba(228,5,20,0.5);
        //display: none;
        height: 9px;
        background-color: $color-secondary;
        }   
    }
    input[type="file"] {
        display: none;
    }
    .upload-btn { 
        padding: 7px 0;
        width: 140px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
        min-height: 35px;
        line-height: 21px;
        &:hover { 
        background-color: $color-primary ; 
        }
        @media (max-width: $screen-xs-max) {
            margin-left: 15px;
            font-size: 12px;
            padding: 8px 12px 8px 12px;
        }
    }
    
    .uploaded-files{
        max-height: 170px;
        overflow-y: auto; 
        margin: 0 0 10px;
        padding-right: 15px; 
        @media (max-width: $screen-xs-max) {
            padding: 0 15px;
        }
        ul{
            li{
                position: relative;
                margin-bottom: 10px;
                a:first-child {
                    display: inline;
                    @media (max-width: $screen-sm-max) {
                        overflow: hidden;
                        width: calc(100% - 30px);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                    }
                }
                a:last-child {
                    display: inline;
                    margin-left:10px;
                    font-size: 11px;
                    @media (max-width: $screen-sm-max) {
                        font-size: 12px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -7px;
                    }
                }
            }
        }
    }
    .disabled{
        opacity: 0.3;   
        background-color: $color-secondary;
        color: $color-white;
        &:hover{
            background-color: $color-secondary; 
        }
    }
    .gaf-error-message{
        font-family: $webfont-regular;
        display: block;
        color: $color-secondary;
        @media (max-width: $screen-xs-max) {
            padding:0 15px;
        }
    }
}

.upload-save-cancel-submit {
    padding: 20px 0;
    border-top: 1px solid $color-border-primary;
    @media (max-width: $screen-xs-max) {
        padding: 20px 15px;
    }
    .upload-cancel-btn,
    .upload-submit-btn {
        // width: 18%;
        width: 200px;
        float: left;
        margin-right: 30px;
        @media (max-width: $screen-xs-max) {
            width: 49%;
            float: left;
            margin-right: 2%;
            &:last-child{
                margin-right: 0;
            }
        
        }

    }
}

.mail-invoice-content {
    color:$color-primary;
    .mail-invoice-desc,
    .mail-invoice-note {
        margin-bottom: 20px;
    }
    a {
        font-family: $webfont-demi;
        color: $color-primary;
        text-decoration: underline;
    }
    .print-claim-from-btn {
        margin: 20px 0;
        @media (max-width: $screen-xs-max) {
            margin: 18px 0 8px 0;
        }
        .btn {
            width: 200px;
            @media (max-width: $screen-xs-max) {
              width: 100%;
            }
        }
    }
}
.distributor-submission-desc{
    color:$color-primary;   
    p {
        margin-bottom: 20px;
    }   
    .print-claim-form-btn .btn{
        margin-top: 5px;
        margin-bottom: 20px;
        width: 200px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 5px;
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}


.invoice-submit-success {
    text-align: center;
    border: 1px solid $color-border-primary;
    padding: 50px 0 45px 0;
    background-color: $color-white;
    @media (max-width: $screen-xs-max) {
        padding: 20px 15px;
    }
    .tick-icon p {
        width: 80px;
        height: 80px;
        @include border-radius(50%);
        position: relative;
        border: 2px solid $color-primary;
        margin: auto;
        margin-bottom: 45px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 20px;
            display: block;
        }
        span {
            font-size: 34px;
            position: absolute;
            top: 50%;
            @include transform-translate(-50%, -50%);
            left: 50%;
        }        
    }
    h2{
        font-family: $webfont-medium;
        margin: 0;
    }
    h3{
        font-size: 20px;
        font-family:  $webfont-demi;
        margin-top: 40px;
        margin-bottom: 30px;
        @media (max-width: $screen-xs-max) {
            line-height: 26px;
            font-size: 18px;
            margin: 30px 0 20px;
        }
    }
    p{
        font-size: 16px;
        font-family:  $webfont-medium;
        margin-bottom: 7px;
        @media (max-width: $screen-xs-max) {
            font-size: 14px;
            line-height: 22px;
            display: inline;
        }
        a{
            font-family:  $webfont-demi;
            text-decoration: underline;
        }
    }
}

.upload-loader{
    border:1px solid $color-border-primary;
    padding: 2px 4px;
    margin-bottom:20px;
    width: 400px;  
    @media (max-width:$screen-xs-max){
        width: 100%;
    }  
    .progressWrapper {
        height: 9px;
        float: left;
        width: 100%;
        overflow: hidden;
        background-color: $color-white;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        border-radius: unset;
        margin-top: 0;
    }
    .progressBar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: $color-white;
        text-align: center;
        background-color: $color-secondary;
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
    }
}
.invoice-print
{
    color: $color-border-secondary;
    font-family: $webfont-demi;
    header{
        position: static;    
    }
    .print-view
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    .print-header-logo
    {
        border-bottom: 2px solid;
        padding:25px 0;  
    }
    .invoice-submission-title
    {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    table{
        width:76%;
        &.company-details
        {
            font-size: 13px;
            tr{ 
                td
                {
                    padding-bottom: 20px;
                    &:first-child{
                        font-family: $webfont-medium;
                    }
                }
            }
        }
    }
    .sign-and-date
    {
        margin-top: 52px;
        font-size: 13px;
        font-family: $webfont-medium;
        .sign{
           float: left;
            width: 62%;
            .fill-sign{
                border-bottom: 1px solid $color-border-primary;
                position: relative;
                left:74px;
                width: 77%;
            }
        }
        .date{
            float: right;
            left: 18px;
            width: 34%;
            .fill-date{
                border-bottom: 1px solid $color-border-primary;
                position: relative;
                left:43px; 
                width: 76%;
            }
        }
    }
    .mail-form-title{
        margin-top: 63px;
        margin-bottom: 10px;
        font-family: $webfont-regular;
    }
    .dashed-line
    {
        width: 100%;
        border-bottom: 1px dashed $color-border-primary;  
        position: relative;
        .icon-scissors{
            position: absolute;
            right: 21px;
            top: -6px;
        }
    }

    .gaf-address
        {
            font-size: 18px;
            margin-top: 100px;
            margin-bottom: 40px;
            span{
                display: block;
                margin-top:6px;
            }
        }
}

.hidddennn{
    display: none;
}