    .confirm-wrapper{
        margin: 100px 0 230px 0;
    .verify-email {
    .email-icon p {
        width: 100px;
        height: 100px;
        @include border-radius(50%);
        position: relative;
        border: 2px solid $color-primary;
        margin: auto;
        span {
            font-size: 36px;
            position: absolute;
            top: 50%;
            @include transform-translate(-50%, -50%);
            left: 50%;
        }        
    }
    .email-desc {
        text-align: center;
        margin-top: 48px;
        color: $color-primary;
    .email {
        font-family: $webfont-demi;
    }
    h3 {
        font-size: 20px;
        font-family:$webfont-medium;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 24px;
        margin-bottom: 35px;
        font-family:$webfont-medium;
        @media (max-width: $screen-xs-max) {
        line-height: 30px;
        }
      }
      p{
        font-size: 20px;
        font-family:$webfont-medium;
      }
      a{
          font-size: 20px;
          border-bottom: 1px solid #494949;
          font-family:$webfont-medium;
      }
    }
  }
}
