.user-acc-info {
    background: $color-white;
    padding: 15px 0;
    text-align: center;
    h3 {
        margin-top: 0;
        padding: 0 15px;
        margin-bottom: 10px;
        span {
            font-family:$webfont-demi;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 125%;
            display: inline-block;
            max-width: 100%;
        }
    }
    figure {
        .figure-outline {
            border: 2px solid $color-border-secondary;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform-translate(-50%, -50%);
                max-width: 100%;
            }
        }
    }
    dl {
        dt {
            font-family: $webfont-demi;
            font-size: 16px;
        }
        dd{
            font-family: $webfont-medium;
        }
    }
}
.gaf-myprofile{
    h3{
        padding: 0 15px;
        margin-bottom: 0;
        > span {
            font-family:$webfont-demi;
            font-size:30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 125%;
            display: inline-block;
            max-width: 100%;
            margin: 0;
            @media (max-width:$screen-xs-max){
                margin-top:5px;
                margin-bottom:5px;
                line-height: normal;
            }
        }
    }
    p{
        font-family: $webfont-medium;
    }
}
.user-info{
    @include flex;
    @include justify-content(space-around);
}
h3.admin-user-info{
    font-size:24px;
}