.toast-message {
    width: 350px;
    min-height: 42px;
    margin: 0 auto;
    background-color: $background-highlight;
    border: 1px solid $color-border-primary;
    @media (max-width:$screen-xs-max) {
        width: 100%;
        margin: 0;
    }
    &.toast-fade {
        height: 0;
        min-height: 0;
        opacity: 0;
        padding: 0;
        margin-bottom: 0;
        transition: all 1s;
    }
    span {
        display: table-cell;
        background: $color-green;
        vertical-align: middle;
        padding: 10px 0;
        text-align: center;
        width: 54px;
        &:before {
            color: $color-white;
        }
    }
    p {
        display: table-cell;
        padding: 10px 15px;
        margin: 0;
        font-family: $webfont-demi;
    }
}