.ems-wrapper {
    margin-top: 100px;
    background: $color-white;
    min-height: calc(100vh - 150px);
    position: relative;
    z-index: 0;
    @media (max-width: $screen-sm-max) { 
        margin-top: 80px;
    }
    @media (max-width: $screen-xs-max) { 
        margin-top: 55px;
        min-height: calc(100vh - 236px);
    }
}

.verification-process {
    font-size: 20px;
    font-family: $webfont-medium;
    font-weight: normal;
    color: $color-primary;
    margin: 45px 0px 45px 35px;
    text-align: left;
    @media (max-width: $screen-xs-max) {
        margin:30px 0px 30px 0px;
        text-align: center;
    }
}

.install-roofs,
.classify-yourself {
    font-size: 16px;
    font-family: $webfont-medium;
    font-weight: normal;
    margin-bottom: 20px;
    color: $color-primary;
}

.install-yes {
    margin-left: 30px;
    display: none;
    p {
        margin-bottom: 0px;
    }
}

.install-no {
    display: none;
    float: left;
    width: 100%;
    label {
        margin-bottom: 20px;
    }
}

.yes-open .install-yes {
    display: block;
}

.no-open .install-no {
    display: block;
}

.btn-and-terms {
    margin-top: 5px;
    margin-bottom: 100px;
    @media (max-width: $screen-xs-max) {
        margin-bottom: 38px !important;
    }
    .next-btn {
        width: 35%;
        float: left;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
    .terms-and-conditions {
        width: 65%;
        float: left;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
        p {
            font-size: 16px;
            margin-left: 50px;
            margin-bottom: 0;
            font-family: $webfont-medium;
            font-weight: normal;
            @media (max-width: $screen-xs-max) {
                margin-top: 38px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 0;
                text-align: center;
            }
        }
        a {
            font-family: $webfont-bold;
        }
    }
}

.others-decs {
    margin-bottom: 15px;
    .other-desc-textarea {
        margin-left: 55px;
        margin-bottom: 10px;
        width: 320px;
        .input-error{
            border: 1px solid $color-secondary;
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
        textarea {
            width: 100%;
        &:focus{
            outline: none;
        } 
        }
        @media (max-width:$screen-xs-max) {
            margin-left: 0;
            padding-left: 55px;
            padding-right: 15px;
        }
    }
}

.install-yes-no {
    float: left;
    width: 100%;
}

.select-box {
    margin: -10px 0 25px 35px;
}

.ems-select-box {
    width: 320px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    a {
        text-decoration: none;
    }
    @media (max-width:$screen-xs-max) {
        width: auto;
        select{
            border: 1px solid #B7B7B7;
            border-radius: unset;
            box-shadow: none;
            height: 45px;
            text-align: left;
            font-family: $webfont-medium;
            background: #ffffff;
            float: none;
            width: 100%;
            margin-bottom: 22px;
            padding:0 10px;
        }
    }
}
.address-title{
    margin-bottom:30px;
    margin-top:15px;
    font-size:16px;
}
