.sideHeader {
    padding: 5px;
    width: 250px;
    background-color: #ebedf0;
    text-align: left;
    font-size: 14px;  
}

.sideHeader ul {
    padding-left: 10px;
}

.sideHeader li {
    width: 180px;
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sideHeader a {
    font-weight: 400;
}

.sideHeader a:-webkit-any-link {
    color: black !important
}

.sideHeader a:hover {
    text-decoration: none;
    cursor: pointer;
    color: orange;
}

.sideHeader a.activeMenu {
    color: black !important;
    background-color: #e5ecf8;
    font-weight: 500;
}

.sideHeader a.activeMenu::before {
    content: "\A";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ff8700;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.sideHeader ul li a.activeMenu {
    list-style-type: disc;
}

.sideHeader a:-webkit-any-link {
    border-bottom: 0px !important;
}