.verification-process{
    font-size: 20px;
    font-family: $webfont-regular;
    font-weight: normal;
    color: $color-primary;
    margin-top: 50px;
    text-align: left;
    @media (max-width:$screen-xs-max) {       
        margin:30px 0px 30px 0px;  
        text-align: center;      
    }
}

.install-yes {
    margin-left: 34px;
    display: none;
    p {
        margin-bottom: 0px;      
    }
}

.install-no {
    display: none;
    float: left;
    width: 100%;
    label {
        margin-bottom: 20px;
    }
}

.yes-open .install-yes {
    display: block;
}

.no-open .install-no {
    display: block;
}

.btn-and-terms {
    margin-top: 5px;
    margin-bottom: 100px;
    @media (max-width:$screen-xs-max) {       
        margin-bottom: 38px !important;
    }
    .next-btn {
        width: 35%;
        float: left;
        @media (max-width:$screen-xs-max) {
            width: 100%;
        }
    }
    .terms-and-conditions {
        width: 65%;
        float: left;
        @media (max-width:$screen-xs-max) {
            width: 100%;
        }
        p {
            font-size: 16px;
            margin-left: 50px;
            margin-bottom: 0;
            font-family: $webfont-medium;
            font-weight: normal; 
            @media (max-width:$screen-xs-max) {
                margin-top: 38px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 0;
                text-align: center;
            }
        }
        a {
            font-family: $webfont-bold;
        }
    }
}

.ribbon {
    p {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        margin: 0;
        @media (min-width: $screen-sm-min){
            width: 100%;
        }
    }
    font-family: $webfont-bold;
    position: relative;
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-left: -7px;
    font-size: 12px;
    @media (max-width: $screen-es-max){
        width:115px;
    }
    svg {
        fill: $background-highlight;        
    }
    &.in-progress {
        svg {
            stroke: $color-secondary;
            fill: none;
        }
        p{
            color: #E40514;
        }
    }
    &.completed {
        svg {
            fill: $color-secondary;
        }
        color: $color-white;
    }
    @media (min-width: $screen-sm-min){
        width: 240px;
        font-size: 18px;
        font-family: $webfont-demi;
        margin-left: 0;
    }
}

.ribbon-block {
    margin-bottom: 33px;
    margin-top: 45px;
    @media (max-width:$screen-xs-max) {
        margin-top: 35px; 
    }
}

.emailVerification {
        margin-top: 20px;
    @media (max-width:$screen-xs-max) {
        margin-top: 35px; 
    }
    .gaf-form {
        position: relative;
    }
    .error-message{
        color: $color-secondary;
        margin-top: 5px;
        display: block;
        font-size: 12px;
        position: absolute;
    }
    .install-yes-no {
        .error-message {
            font-size: 14px;
            font-family: $webfont-medium;
        }
    }
    .ems-classify {
        .error-message {
            margin-left: 15px;
        }
    }
}

.ems-container {
    .gaf-form {
        label {
            text-transform: unset;
        }
    }
}

.ems-container sup {
    color: #f00;
    top: -.5em
}