.cart-summary{
    .gaf-title-block{
    h2{
        margin-bottom: 0;
    }
    p{     
        text-align: right;
        font-family: $webfont-demi;
        margin-bottom: 0;
        margin-top:0;
        @media (max-width:$screen-sm-max){
            text-align: center;              
        }
    }
    span{
        font-size: 24px;
        margin-left: 10px;
        @media (max-width:$screen-xs-max){
          display: block;  
          margin-left: 0px;           
        }
        @media (max-width:$screen-sm-max){
            display: block;          
        }
    }
}
.cart-main{
    .addresslist-wrapper {
        @media (min-width:$screen-md-min){
            max-width: 645px;
        }
        @media (min-width:$screen-sm-max){
            display: flex;
            .cart-address{
                border:1px solid $color-border-primary;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 190px;
                margin: 0 15px;
                @media (min-width:$screen-md-min) and (max-width: $screen-md-max){
                    flex-basis: 30%;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    margin-top: 30px;      
    padding:30px;
    border:1px solid $color-border-primary;
    background:$color-white;
    @media (max-width:$screen-xs-max){
        padding:20px 15px;          
      }        
    .confirm-shopping{
        font-size: 20px;
        font-family:  $webfont-medium;
        margin-bottom: 20px;
        @media (max-width:$screen-xs-max){
            margin-bottom: 0;         
          }
    }
    .update-address{
        font-family: $webfont-medium;
        margin-top:20px;
        p {
            margin-bottom: 15px;
        }
        a{                
            text-decoration: underline;
        }
        span{
            margin-right: 5px;
            vertical-align: top;
        }
        .icon-question{
            font-size: 18px;
        }
        .gaf-error-message{
            font-family: $webfont-regular;
            display: block;
            color: $color-secondary;
            @media (max-width: $screen-xs-max) {
                padding:0 15px;
            }
        }
    }
    .order-button{
        width: 200px;
        float: right;
        @media (max-width:$screen-xs-max){
            width: 100%;   
          }
    }
}

.cart-list-items{
    margin-bottom:30px;
    >ul{
        margin:0;
        padding:0;
        >li{
            position:relative;
            padding:30px 0;
            list-style-type: none;
            border-bottom:1px solid $color-border-primary;
            @media (max-width:$screen-sm-max){
                padding:20px 0;
            }
            &:first-child{
                padding-top:20px;
                @media (max-width:$screen-sm-max){
                    padding-top:0;
                }
                i.icon-delete{
                    @media (max-width:$screen-sm-max){
                        top:0;
                    }
                }
            }
        }
    }
    .product-icon{
        display: inline-block;
        margin-right:30px;
        @media (max-width:$screen-sm-max){
            margin-right:15px;
        }
        figure{
            width:100px;
            height:62.5px;
            border:1px solid $color-border-primary;
            position: relative;
            @media (max-width:$screen-sm-max){
                width:80px;
                height:50px;
            }
            img{
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top:50%;
                left:50%;
                @include transform-translate(-50%,-50%);
            }
        }
    }
    .produtct-details{
        display: inline-block;
        vertical-align: top;
        @media (max-width:$screen-sm-max){
            width:calc(100% - 95px);
        }
        .card-value-qty {
            @media (max-width:$screen-sm-max){
                width: 218px;
                float: right;
            }
            .gaf-error-message {
                @media (max-width:$screen-xs-max){
                    padding: 0;
                }
            }
        }
    }

    .card-description{
        width:390px;
        float:left;
        @media (max-width:$screen-md-max){
            width:300px;
        }
        @media (max-width:$screen-sm-max){
            width:100%;
            padding-right:30px;
        }
        label{
            font-family: $webfont-medium;
            font-size:20px;
            font-weight: normal;
        }
        p {
            @media (max-width:$screen-sm-max){
                font-size:12px;
            }
        }
        span {
            font-style: italic
        }
    }

    .card-qty-value{
        float:left;
        margin-left:40px;
            .form-control {
                width: 110px;
                @media (max-width:$screen-xs-max){
                    width:120px;
                }
            }
        @media (max-width:$screen-md-max){
            margin-left:20px;
        }
        @media (max-width:$screen-sm-max){
            margin-left:0;
        }
        @media (max-width:$screen-xs-max){
            width:100%;
        }
        .gaf-form{
            label{
                margin-bottom:10px;
                font-size:14px;
                font-family: $webfont-demi; 
            }
        }
        .filterby{
            float:left;
            label{
                margin-top:0;
            }
            select.form-control{
                width:110px;
                height:40px;
                @media (max-width:$screen-xs-max){
                    width:120px;
                }
            }
        }
        .custom-select-box{
            width:110px;
            .dropdown-menu{
                min-width: 110px;
                @media (max-width:$screen-xs-max){
                    width:80px;
                }
            }
            @media (max-width:$screen-xs-max){
                width:80px;
            }
        }
        .qty-box{
            float:left;
            margin-left: 60px;
            margin-bottom:0;
            width:90px;
            @media (max-width:$screen-md-max){
                margin-left:30px;
            }
            @media (max-width:$screen-sm-max){
                margin-left:18px;
                width:80px;
            }

            .form-control{
                width:70px;
                @media (max-width:$screen-sm-max){
                    width:80px;
                }
            }

            div.form-control{
                width:90px;
                height: 46px;
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                position: relative;
                user-select: none;
                @media (max-width:$screen-sm-max){
                    width: 80px;
                    height: 40px;
                    line-height: normal
                }

                .control-quantity{
                    height: 98%;
                    width: 25px;
                    position: absolute;
                    top: 1px;
                    font-weight: bold;
                    @media (max-width:$screen-sm-max) {
                        top: 0;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    &.increment{
                        right: 0;
                        text-align: right;
                        font-size: 16px;
                        padding: 10px 8px;
                        background: $color-white;
                        color: $color-border-secondary;
                        border: none;
                        @media (max-width:$screen-sm-max) {
                            padding: 0 8px;
                        }
                    }

                    &.decrement{
                        left: 0;
                        text-align: left;
                        font-size: 20px;
                        padding: 7px 12px;
                        background: $color-white;
                        color: $color-border-secondary;
                        border: none;
                        @media (max-width:$screen-sm-max) {
                            padding: 0 12px;
                        }
                    }
                    &:focus {
                        outline: none;
                    }

                    &.grey{
                        color: $color-grey;
                        pointer-events: none;

                        &:hover{
                            cursor: auto;
                        }
                    }
                }
            }
        }
    }
    .card-points-fees{
        float:left;
        text-align: right;
        width:170px;
        > p {
            > strong {
                margin-left: 78px;
            }
        }
        @media (max-width:$screen-md-max){
            width:110px;
        }
        @media (max-width:$screen-sm-max){
            width:210px;
            text-align: left;
            margin-top:20px;
            float: right;
        }
        @media (max-width:$screen-xs-max){
            float: left;
        }
        @media (max-width:$screen-xs-max){
            width:218px;
            float: right;
        }
        p{
            strong{
                display: block;
                @media (max-width:$screen-sm-max){
                    display: inline;
                }
                &:first-child{
                    margin-bottom:8px;
                }
                &:last-child{
                    margin-bottom:3px;
                    @media (max-width:$screen-sm-max){
                        margin-left:10px;
                        float:right;
                    }
                }
            }
        }
        span{
            font-size:12px;
            position: relative;
            display: block;
            @media (max-width:$screen-sm-max){
                margin-left:15px;
                text-align: right;
                display: block;
            }
            i{
                font-size: 18px;
                position: absolute;
                top: -1px;
                right: -22px;
                @media (max-width:$screen-sm-max) {
                    position: relative;
                    top: 3px;
                    right: 0;
                    margin-left: 5px;
                }
            }
        }
    }
    .card-delete{
        float:left;

        &:hover{
            cursor: pointer;
        }

        i{
            position:absolute;
            right:20px;
            top:50px;
            font-size:25px;
            @media (max-width:$screen-sm-max){
                top:30px;
                right:0;
                font-size:21px;
            }
        }
    }
}

.box-visibility-hidden {
    visibility: hidden;
    @media (max-width:$screen-xs-max){
        display: none;
    }
}

.empty-message {
    text-align: center;
    min-height: 300px;
    padding: 95px 0 0;
    h3 {
        margin: 0 0 10px;
        @media (max-width:$screen-sm-max){
            font-size: 16px;
        }
    }
    h5 {
        margin: 0;
        a {
            text-decoration: underline;
        }
    }
}


.cart-address{
border:1px solid $color-border-primary;       
    @media (max-width:$screen-sm-max){
        margin-top: 10px;       
    }

.address{
    border-bottom:1px solid $color-border-primary;
    padding: 15px 20px;
    .gaf-radio{
        label{
            margin-bottom: 0;
            font-weight: normal;
            font-family: $webfont-demi;
        }
    }    
}
    .address-details{
    padding: 15px 20px;
    font-family: $webfont-medium;
    p{
        margin-bottom: 3px;
    }
    :last-child{
    margin-bottom: 0;
    }
    }
}
.order-summary{
margin-bottom: 30px;
padding-top: 5px;  
@media (max-width:$screen-xs-max){
  margin-top:20px;       
  }
.order-summary-details{
    padding: 20px;
    border:1px solid $color-border-primary;  
    p{
        margin-bottom: 20px;
        font-family: $webfont-medium;
        font-size: 18px;
    }
    table{
        width: 100%;
        font-family:$webfont-medium;
        border-bottom: 1px solid  $color-border-primary;
        margin-bottom: 20px;
         td:nth-child(2){
             text-align: right;
         }
         td{
             padding-bottom: 10px;
         }
    }
    .order-total{
      p{
            font-family:$webfont-demi;
          margin-bottom: 0;
          font-size: 16px;
      }
      span{
          float: right;
      }
    }
}

}

.gaf-error-message {
    font-family: $webfont-regular;
    display: block;
    font-size: 12px;
    color: $color-secondary;
    font-weight: 900;
    margin-top: 5px;
    clear: both;
    @media (max-width: $screen-xs-max) {
        padding:0 15px;
    }

    &.balance{
        min-height: 34px;
        font-size: 12px;
    }
} 

}

.cart-summary-debit-alert {
    .cart-footer {
        width: 160px;
        margin: 0 auto;
        @media (max-width: $screen-sm-max) {
            width: 100%;
            button {
                width: 100%;
            }
            .gaf-btn-secondary {
                margin: 15px 0 0;
            }
        }
    }
}