.header-top-logo-nav {
    border-bottom: 1px solid $color-border-primary;
    .header-top-nav {
        margin-bottom: 0;
        padding-left: 0;
    }
}

.container {
    .header-logo {
        @media (max-width:$screen-sm-max){
                text-align: center;
                height: 55px;
                padding-left: 0px;
            }
        }
}