.gaf-toggle {
    position: relative;
    width: 55px;
    height: 25px;
    label{
        width:55px;
        margin-bottom:0;
        .gaf-toggle__switch{
            height: 25px;  
            border-radius: 50px;
            background-color: $background-highlight;
            border: 1px solid $color-grey;
            &:before{
                content: attr(data-checked);
                position: absolute;
                text-transform: uppercase;
                right: 9px;
                font-size: 10px;
                top: 7px;
                color:#494949;
            }
            &:after{
                content: '';
                position: absolute;
                z-index: 1;
                text-transform: uppercase;
                
                background:$color-white;
                -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
                transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
                transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
                color: $color-primary;
                top: 1px;
                left: 1px;
                border-radius: 30px;
                width: 23px;
                height: 23px; 
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            }
        }
    }
  }
  .gaf-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    &:checked{
        ~ label .gaf-toggle__switch{
            background-color:$color-secondary;
            &:before{
                content: attr(data-unchecked);
                left: 9px;
                right: 0;
                color: #ffffff
            }
            &:after{
                content: '';
                -webkit-transform: translate3d(30px, 0, 0);
                transform: translate3d(30px, 0, 0);
            }
        }
        &:focus , &:hover{
            ~ label .gaf-toggle__switch{
                background-color:$color-secondary;
            }
        }
    }
}