.gaf-page-info{
    border:1px solid $color-border-primary;
    background:$color-white;
}

.points-history{    
    .gaf-title-block{
        h2{       
            @media (max-width: $screen-xs-max){
                margin-bottom:5px;
            }
            @media (max-width: $screen-sm-max){
                margin-bottom:5px;
            }

        }
    }
    .gaf-search{
        .filterby{
        .custom-select-box{
            width:170px;
        }
        label{
            margin:10px 0;
        }
        .gaf-select-box{
            .form-control{
                width: 140px;
            }
        }
    }
}
.pointshistory-list{
    padding:0 30px;
    padding-top: 0;
    @media (max-width: $screen-xs-max){
        padding:20px 15px;
    }
}

.gaf-table{
    max-height:none;
    border:1px solid $color-grey;
        @media (max-width:$screen-xs-max){
            border:1px solid $color-border-primary;
        }
        thead{
            tr{
                th:nth-child(3){
                    width:10%;
                }
            }
        }
        tbody{
            tr{
                td:last-child{
                    &:before{
                        @media (max-width:$screen-xs-max){
                        top:10px;
                        }
                    }
                }
                td:nth-child(4){
                    max-width:150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @media (max-width:$screen-xs-max){
                        max-width: none;
                    }
                }
            }
        }
}
}

.points-history{
    .available-balance-points{
        p{
            text-align: right;
            font-family: $webfont-demi;
            margin-top:0;
            span{
                margin-left:10px;
                font-size:24px;
                @media (max-width: $screen-xs-max){
                    display: block;
                    margin-left:0px;
                    margin-bottom: 10px;
    
                }
                @media (max-width: $screen-sm-max){
                    display: block;
                    margin-left:0px;
    
                }
            }      
            @media (max-width: $screen-sm-max){
                text-align: center;
            }
        }
    }    
    .gaf-title-block{
        h2{       
            @media (max-width: $screen-xs-max){
                margin-bottom:5px;
            }
            @media (max-width: $screen-sm-max){
                margin-bottom:5px;
            }
        }
    }
    .gaf-search{
        .filterby{
        .custom-select-box{
            width:170px;
    }
    label{
        margin:10px 0;
    }
    .gaf-select-box{
        .form-control{
            width: 140px;
        }
    }
}
}

.points-history-ad-search{
    
        .select-user{
            .custom-select-box{
                width:238px;
                @media (max-width: $screen-md-max){
                    width:150px;
                }
                @media (max-width: $screen-sm-max){
                    width:100%;
                }
            }
            @media (max-width: $screen-sm-max){
                width:100%;
            }
        }
        .select-claims{
            .custom-select-box{
                margin-left:33px;
                @media (max-width: $screen-md-max){
                    margin-left:10px;
                }
                @media (max-width: $screen-sm-max){
                    margin-left:0;
                    width:100%;
                }
            }
            @media (max-width: $screen-sm-max){
                width:100%;
            }
        }
    
}
}
