/*Default style information for the body of the stylesheet*/
body
{
    font-family:Open Sans, Arial;
    background-color:white;
}
/*Set the style information for anything appearing with a table cell. */
td
{
    font-size: 8pt;
    color: black;
    padding: 2px;
}
/*Set the style information for the table surrounding the navigation linkis.
Navigation links are the [Collapse All], [Expand All], etc. links that appear
just below the main information on all stylesheets.*/
.navigationborder
{
    border: 0px;
}
/*Set the style information for the first type of single border table.
This table is typically the first table that appears on each style sheet.*/
.singleborder
{
    border:1px solid #468CFF;
    vertical-align: top;
}
/*Set the style information for the second type of single border table.*/
.singleborder2
{
    border: 1px solid #767278;
}
/*Set the style information for the third type of single border table.*/
.singleborder3
{
    border:1px solid #468CFF;
    vertical-align: top;
}
/*Set the style information for the fourth type of single border table.
This border is typically used for Custom Attributes.*/
.singleborder4
{
    border:1px solid #FFEA4D;
    vertical-align: top;
}
/*Sets the style information for the first type of details table. Details tables display
additional information within another table*/
.detailsborder
{
    border:double #468CFF;
}
/*Sets the style information for the second type of details table. Details tables display
additional information within another table*/
.detailsborder2
{
    border:double #FF4D62;vertical-align: top;
}
/*Sets the style information for the third type of details table. Details tables display
additional information within another table*/
.detailsborder3
{
    border:double #FF914D;vertical-align: top;
}

.bottomdotted
{
    border-bottom:1px gray dotted;vertical-align: bottom;
}

.topdotted
{
    border-top:1px gray dotted;vertical-align: top;
}

.leftdotted
{
    border-left: 1px gray dotted;
}

.topdouble
{	
    border-top:1px gray double;vertical-align: top;
}
    
.bottomdouble
{
    border-bottom:1px gray double;vertical-align: bottom;font-weight:bold;
}
/*Sets the style information for the column header text that appears on the first table on
each style sheet. Typically this table's class is 'singleborder'*/
.header
{
    font-size:9pt;
    color:#468CFF;
}
/*Sets the style information for the column header text that appears on subsequent singleborder2-4 tables
and detailsborder tables*/
.detailsheader
{
    font-size:8.5pt;
    color:#767278;
    padding-left: 3px;
}

.bold
{
font-weight: bold;
}

.gray
{
    background:#F0F0F0;
}
.note
{
color: #C4122F;
font-weight: bold;}

.smallnote
{
color: #C4122F;
font-weight: bold;
font-size:7pt;
white-space:pre;
}
.approved 
{
    color: #259400;
    font-weight:bold; 
}
.denied 
{
    color: #C4122F; 
    font-weight:bold;
}
.pended 
{
    color: #C9C00C;
    font-weight:bold;
}
a.navigate
{
font-family: Open Sans, Arial;
font-size: 7pt;
font-weight: bold;
border:1px #AAAAAA solid;
color:#468CFF; 
text-decoration:none;
padding-left: 3px;
padding-right: 3px;
margin:0,3px;
cursor: pointer;
cursor: hand;
}

a.hover:link
{
font-family: Open Sans, Arial;
color: #468CFF;
text-decoration: none;
}

a.hover:visited
{
font-family: Open Sans, Arial;
color: #468CFF;
text-decoration: none;
}

a.hover:hover
{
font-Family: Open Sans, Arial;
color:#000000;
text-decoration: underline;
}

i.info
{
color:#468CFF;
}
/*Sets the style information for odd numbered row alternating styles. */
.alternating1
{
    background:#FFFFFF;
}
/*Sets the style information for even numbered row alternating styles. */
.alternating2
{
    background:#F0F0F0;
}
/*Sets the style information for the default header text: 'HSP Standard Stylesheet'*/
h4
{
    font-family:Open Sans, Arial;
    color: #468CFF;
}
/*Sets the style information for the default footer text: 'Health Solutions Plus, Inc.'*/
h6
{
    font-family:Open Sans, Arial;
    color: #468CFF;
}

/*Empty */
.empty
{
    color: #259400;
}

/*Full */
.full
{
    color: #C4122F;
}

/*Partial */
.partial
{
    color: #A19300;
}

