.header-logo{
  height:99px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0;
  @media (max-width:$screen-sm-max){
    height:80px;
    padding-left: 34px;
  }
  @media screen and (min-width: 768px) and (max-width: 768px) {
    padding-left: 49px;
  }
  @media (max-width:$screen-xs-max){ 
    height:54px;
    padding-left:34px;
  }
  img{
      width: 277px;
    @media (max-width:$screen-sm-max){
        max-width: 200px;
    }
    @media (max-width:$screen-xs-max){ 
        max-width: 65%;
        min-width: 135px;
    }
  }
}