.loader .logo-svg {
    position: absolute;
    top: 0px;
    left: 3px;
    height: 0;
    overflow: hidden;
    animation: logo-animation 3s infinite;
}

.logo-svg svg {
    width: 96px;
}


div.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.loader-inner {
    position: relative;
}


div.logo {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  transform: rotate(90deg);
}
div.logo::before, div.logo::after {
  z-index: 1;
  box-sizing: border-box;
  content: '';
  position: absolute;
  border: 4px solid transparent;
  width: 0;
  height: 0;
 
  animation-timing-function: linear;
}
div.logo::before {
  top: 0;
  left: 0;
  animation: border-before 3s infinite;
  
}
div.logo::after {
  bottom: 0;
  right: 0;
  animation: border-after 3s infinite;
  
}
div.logo > div {
  position: absolute;
  opacity: 0;
}


@keyframes border-before {
  0% {
    width: 0;
    height: 0;
    border-top-color: $color-secondary;
    border-right-color: transparent;
  }
  12.49% {
    border-right-color: transparent;
  }
  12.5% {
    height: 0;
    width: 100%;
    border-top-color: $color-secondary;
    border-right-color: $color-secondary;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-top-color: $color-secondary;
    border-right-color: $color-secondary;
  }
}
@keyframes border-after {
  0%,
  24.99% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  25% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: $color-secondary;
  }
  37.49% {
    border-left-color: transparent;
    border-bottom-color: $color-secondary;
  }
  37.5% {
    height: 0;
    width: 100%;
    border-left-color: $color-secondary;
    border-bottom-color: $color-secondary;
  }
  50%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: $color-secondary;
    border-bottom-color: $color-secondary;
  }
}

@keyframes logo-animation {
    0%, 60% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}