.userinfo-dropdown {
    width: 350px;
    padding: 15px;
    background: $background-highlight;
    position: absolute;
    right: 0;
    z-index: 2;
    @include box-shadow(0 0 5px 0.5px rgba($color-black, 0.2));
    display: block;
    @media (max-width:$screen-xs-max){
        width:100%;
        left:0;
    }
    @media (max-width: 768px)and (orientation: landscape) {
        max-height: calc(100vh - 54px);
        overflow-y: auto; 
    }
    h3{
        font-family:$webfont-demi;
        font-size:20px;
        margin-bottom:15px;
    }
    .user-rewardpoints{
        margin-bottom:0;
    }
    .whiten-area{
        display: none;
        .white-overlay{
            display: none;
        }
    }
    .userinfo-buttons{
        margin-top:15px;
    }
}
.userinfo-buttons{
    .btn{
        font-size: 14px;
    }
}