.spot-promotion-details
{
    background-color: $background-highlight;
    font-size: 14px;
    .banner-image
    {
        position: relative;
        color: $color-white;
        font-family:$webfont-demi;
        border: 1px solid $color-border-primary;
        border-bottom:0;
        img{
            width: 100%;
        }
        .banner-property-detail
        {
            position: absolute;
            color:$color-primary;
            left:0;
            bottom:72px;
            width: 100%;
            @media (max-width: $screen-sm-max) {
                position: static;
                background-color: $color-white;
                padding: 5px 15px 15px;
                border-bottom: 1px solid $color-border-primary;
                margin-bottom: 30px;
            }
        }
        .banner-property-detail-list
        {
            color:$color-primary;
            background-color: $color-white;
            padding: 21px 30px 19px;
            @media (max-width: $screen-sm-max) {
                background-color: transparent;
                padding: 0;
            }
            .banner-detail-item{
                display:inline-block;
                margin-right: 103px;
                font-family:$webfont-medium;
                 &:last-child{
                    margin-right: 10px;
                    span {
                        + span {
                            display: inline-block;
                        }
                    }
                    .last-item {
                        display: inline-block;
                        padding-left: 10px;
                        @media (max-width: $screen-sm-max) {
                            width:20%;
                        } 
                        a{
                            font-family: $webfont-regular;
                            text-decoration: underline;
                            color:$color-primary;
                        }
                    }   
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    margin-right: 50px;
                }
                @media (max-width: $screen-sm-max) {
                    width:100%;
                    margin-top: 10px;
                    margin-right: 0;
                }
                span{
                    &:last-child{
                        font-family:$webfont-demi;
                    }
                    display:block;
                    @media (max-width: $screen-sm-max) {
                        display: inline-block;
                        &:first-child{
                            width:40%;
                            padding-right: 15px;
                            &:after{
                                content:" :";
                            }
                        }
                        &:last-child{
                            width:60%;                            
                        }
                    }
                }               
            }
            
        }
        .eligible-products
        {
            padding: 30px 0px;
            background-color: $color-white;
            font-family:$webfont-demi;
            text-align: center;
            a{
                text-decoration: underline;
                color:$color-primary;
            }

            @media (max-width: $screen-sm-max) {
                border-top:1px solid $color-border-primary ; 
                text-align: center;
                padding:20px 0 5px ;
                margin-top: 20px;    
            }           
        }
    }
    .spot-promotion-title{
        position: relative;
        .banner-image-header
        {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            width: 100%;
            text-align: center;
            @media (max-width: $screen-sm-max) {
                font-size: 30px;
                width:80%;
                top: 50%;
            }
        }
    }
    .view-more
    {
        display: none;
        margin-top:15px;
        @media (max-width: $screen-xs-max) {
            display: block;
            text-align: center;
        }
        a{
            @media (max-width: $screen-xs-max) {
            font-family: $webfont-medium;
            text-decoration: underline;
            color:$color-primary;
            font-size: 16px;
            }
        }
        i{
            margin-left: 4px;
        }
    }
    .gaf-description-block{
        &.s-p-detail{
            margin-top:0;
        }
        .view-more{
            i{
                display: inline-block;
                font-size: 17px;
                position: relative;
                top: 1px;
                left: 3px;
                transition:0.1s all linear;
            }
        }
        &.view-more-content{
            transition:all 0.2s linear;
            .gaf-paragraph{
                @media (max-width: $screen-xs-max) {
                    max-height:auto;
                    overflow:visible;
                }
            }
            .view-more{
                i{
                    @include transform-rotate(180deg);
                }
            }
        }
        &.view-less-content{
            .gaf-paragraph{
                transition:all 0.2s linear;
                @media (max-width: $screen-xs-max) {
                    max-height: 65px;
                    overflow: hidden;
                }
            }
            .view-more{
                i{
                    @include transform-rotate(0deg);
                }
            }
        }
    }
    .eligible-states{
        font-family: $webfont-medium;
       
        ul{
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            column-count: 4;
            -webkit-column-count: 4; 
            -moz-column-count: 4;  
            @media (max-width: $screen-sm-max) {
                -webkit-column-count: 2; 
                 -moz-column-count: 2;   
                column-count: 2;
            }
    
            li{         
                margin-bottom: 5px;           
              
            }
        }
    }  
}
.eligible-states{
    font-family: $webfont-medium;
   
    ul{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        column-count: 4;
        @media (max-width: $screen-sm-max) {
            column-count: 2;
        }

        li{         
            margin-bottom: 5px;           
          
        }
    }
}

