
.claim-contactus{
    .gaf-title-block{
        position:relative;
    }
}
.contact-us-response {
    border: 1px solid $color-border-primary;
    padding: 29px;
    font-family: $webfont-medium;
    background:$color-white;
        @media (max-width: $screen-xs-max) {           
            padding:20px 15px;            
        }
    p {
        font-size: 16px;
        margin-bottom: 20px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 15px;
        }
    }
    .text-counter{
        float: right;
        font-size: 14px;
        margin: 6px 0 10px;
    }
    span.error-message {
        margin: 6px 0 0;
        float: left;
    }
    textarea {
        width: 100%;
        height: 170px;
        resize: none;
        padding:15px;
        font-family: $webfont-medium;
    }
    span.mandatory-icon{
        color: $color-secondary;
        margin-left:7px;
    }
    .claim-cancel-submit-btn {
        clear: both;
        @media (max-width: $screen-xs-max) {
            margin-top: 0;
        }      
        .claim-cancel-btn,
        .claim-submit-btn {
            width: 200px;
            float: left;
            margin-right: 30px;
            @media (max-width: $screen-xs-max) {
                width: calc(50% - 2px);
                margin-right: 4px;             
            }
        }
        .claim-submit-btn{
            @media (max-width: $screen-xs-max) {           
                margin-right: 0;            
            }
        }
    }
    .char-count {
        float: right;
        margin-top: 5px;
    }
}
.claim-contactus-links{
@media (min-width: $screen-md-min){
    position: absolute;
    top:30px;
    right:30px;
}
}