.header-top-logo-nav {
    border-bottom: 1px solid $color-border-primary;
    .container{
        @media (max-width:$screen-sm-max) {
            width:100%;
        }
    }
    .profilepopup-overlay{
        @media (max-width:$screen-sm-max) {
            position: fixed;
            top:80px;
            left:0;
            right:0;
            bottom:0;
            background: rgba($color-black, 0.8)
        }
        @media (max-width:$screen-xs-max) {
            top:50px;
        }
    }
    .header-top-nav {
        margin-bottom: 0;
        padding-left: 0;
        &>li {
            display: inline-block;
            list-style: none;
            &>a {
                padding: 28px 15px;
                display: inline-block;
                transition: background-color 0.5s;
                text-decoration: none;
                i {
                    font-size: 20px;
                    &.icon-user-avtar {
                        font-size: 16px;
                    }
                }
                span {
                    display: inline-block;
                }
                @media (max-width:$screen-sm-max) {
                    padding: 20px 15px 10px;
                }
                @media (max-width:$screen-xs-max) {
                    padding: 7px 15px 3px;
                }
            }
            a.cart-icon {
                @media (max-width:$screen-sm-max){
                    margin-right:15px;
                }
                &>span {
                    position: relative;
                }
                .badge-size {
                    position: absolute;
                    top: -8px;
                    right: -10px;
                    background: $color-secondary;
                    width: 20px;
                    height: 15px;
                    line-height: 15px; 
                    font-size: 11px;
                    border-radius: 7.5px;
                    padding: 0;
                    font-family: $webfont-medium;
                    font-weight: normal;
                }
            }
            &.impersonate-link{
                padding-right: 30.5px;
                margin-right:22px;
                position: relative;
                top:-5px;
                border-right:1px solid $color-border-primary;
                img{
                    position: relative;
                    top:-2px;
                    margin-right: 5px;
                }
                @media (max-width:$screen-sm-max) {
                    position: absolute;
                    background: $color-white;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 81px;
                    text-align: center;
                    border: none;
                    padding: 8px 0;
                    border-bottom: 1px solid $color-border-primary;
                }
                @media (max-width:$screen-xs-max) {
                    top:55px;
                }
            }
            &:last-child {
                margin-left:18px;
                @media (max-width:$screen-xs-max) {
                    margin-left:0;
                }
                > a {
                    position: relative;
                    span {
                        width: 40px;
                        height: 40px;
                        background: $background-highlight;
                        border-radius: 50%;
                        text-align: center;
                        i{
                            line-height: 40px;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 10;
                        width: 100%;
                        height: 5px;
                        background: transparent;
                        @media (max-width:$screen-xs-max) {
                            height:4px;
                        }
                    }
                }
                &.open {
                    background-color: $background-highlight;
                    @include box-shadow(0 0 5px 0.5px rgba($color-black, 0.2));
                    span {
                        background-color: $color-white;
                    }
                }
                &.open a:after {
                    background: $background-highlight;
                }
            }
            .open .header-topuser-dropdown {
                z-index: 9;
                display: block;
            }
            &.impersonate-link{
                span{
                    border:1px solid $color-secondary;
                    padding:5px 10px;
                    height: 30px;
                    line-height: 18px;
                    color:$color-secondary;
                    font-size:12px;
                }
            }
        }
    }
    .top-header-icons{
        padding-right:0px;
        @media (max-width:$screen-sm-max) {
            position: static;
        }
        li{
            position: relative;
            @media (max-width:$screen-sm-max) {
                position: static;
            }
        }
    }
}

.idle-popup {
    .idle-popup-footer {
        width: 265px;
        margin: 0 auto;
        text-align: center;
        @media (max-width:$screen-sm-max) {
            width: 100%;
        }
        .btn {
            width: 125px;
            float: left;
            &:last-child {
                margin: 0 0 0 15px;
                @media (max-width:$screen-sm-max) {
                    margin: 15px 0 0;
                }
            }
            @media (max-width:$screen-sm-max) {
                width: 100%;
                float: none;
            }
        }
    }
}
