.quick-access-list {
    width: 100%;
    border: 1px solid $color-border-primary;
    padding: 0 35px;
    background:#fff;
    @media (max-width:$screen-xs-max){
        border:0;
        padding:0;
        background:none;
    }
}
.quick-access{
    border-bottom: 1px solid $color-border-primary;
    &:nth-child(3) {
        border-bottom: none;
    }
    @media (max-width:$screen-xs-max){
        border:1px solid $color-border-primary;
        background:$color-white;
        margin-bottom: 10px;
    }
    &:last-child{
        border-bottom:0;
        @media (max-width:$screen-xs-max){
            margin-bottom:0;
            border-bottom:1px solid $color-border-primary;
        }
    }
    p{
        font-family: $webfont-demi;
        font-size: 20px;
        line-height: 1.5;
        position:absolute;
        top:50%;
        @include transform-translate(0,-50%);
        padding-left:30px;
        @media (max-width:$screen-md-max){
            padding-left:0px;
        }
        @media (max-width:$screen-xs-max){
            font-size:16px;
        }
    }
    .qa-btn{
        position:absolute;
        top:50%;
        @include transform-translate(0,-50%);
    }
    .icon-arrow{
        color:$color-primary;
        font-size:35px;
        position:absolute;
        top:53%;
        @include transform-translate(0,-50%);
        &:before{
            color:$color-secondary;
        }
        @media (max-width:$screen-sm-max){
            right:15px;
        }
    }
}
.quick-access-icon {
        width: 105px;
        height: 105px;
        @include border-radius(50%);
        position: relative;
        border: 2px solid $color-border-secondary;
        @media (max-width:$screen-xs-max){
            width:50px;
            height:50px;
            position:absolute;
            top:50%;
            @include transform-translate(0, -50%);
            margin-left:15px;
        }
        span {
            font-size: 47px;
            position: absolute;
            top: 50%;
            @include transform-translate(-50%, -55%);
            left: 50%;
            &.icon-star-rewards{
                font-size:75px;
                @include transform-translate(-50%, -55%);
                @media (max-width:$screen-xs-max){
                    font-size:xx-large;
                }
            }
            @media (max-width:$screen-xs-max){
                font-size:x-large;
            }
    }
}
.quality-access-vcenter{
    height:105px;
    margin:35px 0;
    position:relative;
    width:100%;
    @media (max-width:$screen-xs-max){
        height:50px;
        margin:15px 0;
    }
}

/*iOs*/
.gaf-device-ios {
    .quick-access {
        p {
            @media (max-width:$screen-xs-max) {
                margin-top: 2px;
            }
        }
    }
}