.navbar-section {
    border-bottom: 1px solid $color-border-primary;
    padding: 11px 0;
    @media (max-width: $screen-sm-max) {
        border:none;
        padding: 0;
    }
    .header-menu {
        .navbar {
            border: none;
            background: none;
            margin-bottom: 0;
            min-height: auto;
            .container {
                @media (max-width: $screen-sm-max) {
                    width:100%;
                    padding: 0;
                }
            }
            .navbar-toggle {
                border: none;
                background: none;
                padding: 0;
                position: fixed;
                top: 35px;
                left: 15px;
                display: none;
                margin: 0;
                width: 16px;
                height: 18px;
                z-index: 10;
                @media screen and (min-width: 768px) and (max-width: 768px) {
                    left: 30px;
                }
                @media (max-width:$screen-sm-max){
                    top: 29px;
                    display: block;
                    left: 30px;
                }
                @media (max-width:$screen-xs-max){
                    top: 17px;
                    display: block;
                    z-index: 11;
                    left: 15px;
                }
                span {
                    transition: all 0.2s linear;
                    height: 4px;
                    width: 16px;
                    border-radius: 0;
                    position: absolute;
                    margin: 0;
                    background: $color-primary;
                    &:nth-child(2) {
                        @include transform-rotate(45deg);
                        height:2px;
                    }
                    &:nth-child(3) {
                        opacity: 0;
                    }
                    &:nth-child(4) {
                        @include transform-rotate(-45deg);
                        height:2px;
                    }
                }
                &.collapsed {
                    top: 30px;
                    span:not(:first-child) {
                        position: relative;
                        margin-top: 2px;
                        transform: none;
                        opacity: 1;
                        height: 4px;
                    }
                    @media (max-width:$screen-xs-max) {
                        top: 17px;
                        left: 15px;
                    }
                }
            }
        }
    }
    .navbar-collapse {
        padding: 0;
        @media (max-width: $screen-sm-max) {
            margin-top:-81px;
            padding-top:81px;
            background:$color-white;
        }
        @media (max-width: $screen-xs-max) {
            position: absolute;
            left:0;
            right:0;
            margin-top:-55px;
            padding-top:55px;
            z-index: 10;
            background:$color-white;
        }
        .navbar-nav {
            @media (max-width: $screen-sm-max) {
                width:100%;
                margin: 0;
            }
            @media (max-width: $screen-sm-max)and (orientation: landscape) {
                height: calc(100vh - 55px);
                overflow: auto;
            }
            
            li {
                @media (max-width: $screen-sm-max) {
                    border:0 !important;
                    float: none;
                }
                a {
                    font-size: 16px;
                    padding: 9px 32px;
                    color: $color-primary;
                    font-family: $webfont-medium;
                    &:hover {
                        color: $color-secondary;
                    }
                    @media (max-width:$screen-sm-max) {
                        padding: 22px 0 22px 30px;
                        border-bottom: 1px solid $color-border-primary;
                    }
                    @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
                        font-size: 15px;
                        padding: 9px 18px;
                    }   
                }
                &:not(:last-child) {
                    border-right: 1px solid $color-border-primary;
                }
                &:last-child a {
                    padding-right: 0;
                }
                &:first-child a {
                    @media (min-width:$screen-md-min) {
                        padding-left: 0;
                    }
                    @media (max-width:$screen-sm-max){
                        border-top: 1px solid $color-border-primary;
                    }
                }
                &.active {
                    a{
                        color: $color-secondary;
                        background: none;
                    }
                }
            }
        }
        &.collapse{
            @media (max-width: $screen-sm-max) {
                display: none !important;
            }
            &.in{
                @media (max-width: $screen-sm-max) {
                    overflow-y: auto;
                    display: block !important;
                }
            }
        }
    }
}
