.claim-details{
    .gaf-title-block{
        p{
            span{
                font-family: $webfont-demi; 
            }
        }
    }
    .points-earned{        
        padding: 20px;
        font-family: $webfont-demi;
        border:1px solid $color-border-primary;
        background:$color-white; 
        margin:30px;
        @media (max-width:$screen-xs-max){
            padding:20px 15px;
            margin:0;
            margin-bottom: 20px;
            border:0;
            border-bottom:1px solid $color-border-primary;
        }
        p{
            @include flex;
            @include align-items(center);
            font-family: $webfont-demi;
            color:$color-primary;
            margin-bottom:0;
            @media (max-width:$screen-xs-max){
                display: block;
                width:100%;
                float:left;
                margin-bottom: 20px;
                line-height: 20px;
            }
            span:first-child{
                font-size:14px;
                @media (max-width:$screen-xs-max){
                    float:left;
                    margin-top: 8px;
                }
            }
            span:nth-child(2){
                font-family: $webfont-medium;
                font-size:30px;
                margin-left: 20px;
                @media only screen and (max-width:$screen-sm-max) {
                    margin-left: 10px;
                    font-size: 27px;
                }
                @media (max-width:$screen-xs-max){
                    float:right;
                    font-size:24px;
                }
            }
        }
        .gaf-form{
            margin:0;
            position: relative;
            width: 361px;
            @media (max-width:$screen-xs-max){
                width:100%;
            }
        }               
    }
    .invoice-list{
        margin:0 30px;
        @media (max-width:$screen-xs-max){
            margin:0 15px;
        }
    }
    .gaf-table-header{
        margin:30px 0 20px;
        @media (max-width:$screen-xs-max){
            margin:20px 0;
        }
        h4{
            font-size: 20px;
            font-family: $webfont-medium;
            margin-top:2px;
            @media (max-width:$screen-xs-max){
                font-size:16px;
            }
        }
    }
    .gaf-table{
        border:1px solid $color-grey;
        @media (max-width:$screen-xs-max){
            border:1px solid $color-border-primary;
        }
        th , td{
            padding:15px 10px;
            @media (max-width:$screen-xs-max){
                padding:3px 5px;
            }
        }
    }
}
.claim-details-invoice-table {
    table {
        td:nth-child(3) {
            span {
                max-width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                @media (max-width:$screen-xs-max){
                    max-width: none;
                }
            }
        }
    }
}