.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.ccl-recent-search-wrapper {
  width: 300px;
  min-width: 275px;
  box-shadow: 0 0 6px 5px #ddd;
  border: solid 1px #ccc;
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  top: 30px;
  left: 0;
}

button {
  border: none;
  outline: none;
  background: white;
}

button:disabled{
  background: #eee;
  cursor: not-allowed;
}

button:disabled svg{
  opacity: .2;
}

button:not(:disabled):hover {
  color: #4aacd3;
}

.ccl--last-ten-list-wrapper {
  list-style: none;
  font-size: 12px;
  padding: 0 5px 5px 5px;
  margin: 3px 0 0 0;
}

.ccl--new-search {
  border-bottom: solid 1px #ccc;
  padding: 10px;
  cursor: pointer;
}

.ccl--recent-search {
  padding: 6px 0 6px 10px;
  cursor: default;
  text-transform: uppercase;
}

.ccl--last-ten-list-wrapper li.hover::before {
  content: "*";
  color: orangered;
  font-size: 10px;
  padding-right: 5px;
}

.ccl--last-ten-list-wrapper li {
  padding: 5px 0px 5px 14px;
  outline: none;
  cursor: default;
}

.ccl--last-ten-list-wrapper li:last-child {
  border: none;
}

.ccl--last-ten-list-wrapper li.hover:not(.error),
.ccl--last-ten-list-wrapper li:not(.error):hover {
  padding-left: 5px;
  background: #caddfd;
  color: #333;
  cursor: pointer;
}
