.promotions {
    border: 1px solid $color-border-primary;
    color: $color-primary;
    margin-top: 30px;
    min-height: 302px;
    position: relative;
    background: $color-white;
    div[class^="col-md"]:last-child {
        position: static;
    }
}

.promotion-thumbnail {
    height: 300px;
	background-position: center top;
    background-size: auto 100%;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        height: 340px;
    }
}

.promotions-desc {
    padding: 10px 30px 30px 0;
    height: 100%;
    @media (max-width: $screen-sm-max) {
        padding:20px 15px;
    }
    h3 {
        font-size: 30px;
        line-height: 40px;
        font-family: $webfont-demi;
        word-wrap: break-word;
        @media (max-width: $screen-sm-max) {
            font-size:24px;
            margin-bottom: 20px;
            margin-top:0;
        }
        @media (max-width: $screen-md-max) {
            line-height: 1.25;
        }
    }
    p {
        font-size: 16px;
        font-family: $webfont-regular;
        margin-bottom: 22px;
        line-height: 1.5;
        word-break: break-word;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
        @media (max-width: $screen-sm-max) {
            font-size:14px;
        }
    }
    dl {
        dt {
            font-size: 16px;
            font-family: $webfont-demi;
        }
        dd {
            font-family: $webfont-medium;
        }
    }
    .moredetail-link {
        position: absolute;
        bottom: 25px;
        @media (max-width: $screen-sm-max) {
            position: static;
            margin-top: 30px;
        }
        a {
            font-size: 20px;
            font-family: $webfont-demi;
            text-transform: uppercase;
            color: $color-primary;
            i {
                font-size: 34px;
                position: relative;
                top: 10px;
                left: -3px;
                line-height: 0;
                &:before {
                    color: $color-secondary;
                }
            }
        }
    }
}