.combotable {font-size: 13px;table-layout: fixed;}
.combotable tr.focusme {
    background-color: #F8F8F8;
    outline: -webkit-focus-ring-color auto 1px;
}

.combotable tr:active {
    background-color: #F8F8F8;
    ;
}

.invalid-control .react-dropdown-select {border-color: red;}

.combotable tbody tr:hover {
    background-color: #F8F8F8;
    ;
}

.combotable.table th, .combotable.table td, .table-bordered th, .table-bordered td {padding:8px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.table-sortable>thead>tr>th {
    cursor: pointer;
    position: relative;
}

.table-sortable>thead>tr>th:after, .table-sortable>thead>tr>th:after, .table-sortable>thead>tr>th:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    
    top: 16px;
    
}
/* Cascade Dropdown CSS **/
.sidebar-wrapper .dropdown-overlay .react-dropdown-select-dropdown {
  width: auto;
  /* left: 260px; */
}

.react-dropdown-select-content {width: 85%; height: 100%; min-height: 32px;}
.react-dropdown-select-clear {margin: 0 !important;}
.react-dropdown-select-content span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 92%;
  font-size: 1rem;
  padding: 4px 0;
}

.react-dropdown-select-input  {
  font-size: 0.9rem !important;
}

.react-dropdown-select-item {
  font-size: 13px;
  padding: 2px 10px;
}

.react-dropdown-select {
  background: #fff;
  border-radius: 4px !important;
  height: 100%;
}

/* Default sortable indicator */

.table-sortable>thead>tr>th:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: 0px solid transparent;
    display: none;
}

tr.trCombo:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

/* !Default */

/* Default sortable indicator:hover */

.table-sortable>thead>tr>th:hover:after {
    border-top: 5px solid #888;
}

/* !Default:hover */

/* Ascending sortable indicator */

.table-sortable>thead>tr>th.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #333;
    display: block;
}

.table-sortable>thead>tr>th.asc:hover:after {
    border-bottom: 5px solid #888;
}

/* !Ascending */

/* Descending sortable indicator */

.table-sortable>thead>tr>th.desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: 5px solid transparent;
    display: block;
}

/* To reduce space between dropdown box and list*/
.react-dropdown-select-dropdown-position-bottom {
    top: 37px !important;
}