.access-toast-message{
    display: flex;
    align-items: center;
    justify-content: center;
    .toast-info-icon{
        img{
            width:25px;
        }
    }
    .toast-text{
        margin-left: 20px;
        
    }
}
.role-access{
    .modal-dialog{
        max-width: 550px;
        .modal-body{
            padding:30px 15px;
        }
    }
}