.gaf-form {
  &.GAF-typeahead {
    position: relative;
    .icon-search {
      top: 0;
      right: 0;
      padding: 13px;
      background: $color-border-primary;
      color: $color-primary;
      @media (max-width:$screen-sm-max){
        padding: 10px;
      }
    }
    .closeIcon{
      font-size: 15px;
      right: 42px;
      top: 16px;
    }
    .icon-close{
      font-size: 10px;
      top: 50%;
      background: none;
      color: $color-primary;
      right: 50px;
      margin-top: -5px;
      line-height: 10px;
    }
    .closeIconRight{
      right:12px;
    }
    .form-control{
      padding-right:60px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @media (max-width:$screen-sm-max){
        font-size:12px;
        }
      }
      &::-moz-placeholder { /* Firefox 19+ */
        @media (max-width:$screen-sm-max){
          font-size:12px;
          }
      }
      &:-ms-input-placeholder { /* IE 10+ */
        @media (max-width:$screen-sm-max){
          font-size:12px;
          }
      }
      &:-moz-placeholder { /* Firefox 18- */
        @media (max-width:$screen-sm-max){
          font-size:12px;
          }
      }
    }
    ul {
      padding-left: 0;
      position: absolute;
      width: 100%;
      z-index: 5;
      max-height: 180px;
      overflow:auto;
      border:1px solid $color-border-primary;
      border-top:0;
      li {
        list-style-type: none;
          a {
          background-color: $background-highlight;
          padding: 6px 12px;
          display: block;
          &:hover {
            background-color: $color-grey;
          }
        }
      }
    }
  }
}