.mentText {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #000000;
}

.mentSubText {
    opacity: 0.8;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

#sidebar-wrapper {
    z-index: 7;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ebedf0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media(min-width:768px) {
    #sidebar-wrapper {
        width: 240px;
    }
}

.providerSubTableNoBorder th, .providerSubTableNoBorder td {
    padding: 0;
    width: 200px;
}

.providerSubTableNoBorder th {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #6d6d6d;
}

.providerSubTableNoBorder td {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #000000;
}

.headerLabel {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #191a1e;
}

.resize {
    margin-left: 240px;
}

.emptyField {
    height: 10px;
    border-bottom: 4px solid #ccc;
    width: 12px;
}

.contractViewBelow {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.ReactStickyHeader_fixed {
    position: fixed;
    top: 0;
    left: 240px !important;
    right: 0;
    z-index: 5;
}

/* .combotable > tbody > tr:hover > td,
.combotable> tbody > tr:hover > th {
    background-color: #CFF5FF;
} */

.combotable>tbody>tr:focus>td, .combotable>tbody>tr:focus>th {
    background-color: #CFF5FF;
}

.providerNavbar {
    height: 56px;
    box-shadow: 0 2px 0 0 #ebedf0;
    background-color: #ffffff;
    z-index: 6;
}

.actions-part a {
    margin-left: 10px;
}

.backBtn {
    width: 24px;
    height: 40px;
    border-radius: 2px;
    background-color: rgba(109, 109, 109, 0.1);
}

.textBredcumb {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000 !important;
}

.ccl-recent-search-wrapper {
    right: 120px;
    left: inherit;
    background: #FFF;
}

.actions .dropdown-menu {
    right: 0;
    left: inherit;
    font-family: Open Sans;
    font-size: 13px;
    width: 260px;
    height: 112px;
    border-radius: 2px;
    box-shadow: 0 4px 6px 0 rgba(180, 189, 203, 0.2);
    border: solid 1px rgba(194, 195, 195, 0.18);
    background-color: #ffffff;
}

.actions .dropdown-menu img {
    margin-right: 10px;
}

.actions .dropdown-menu img.s-child {
    margin-right: 5px;
    margin-left: -4px;
}

.editText {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    text-align: center;
    color: #0046b9 !important;
    padding: 0.5rem 1rem;
}

.ccl-recent-search-wrapper {
    right: 123px !important;
}

.sideHeader ul {
    padding: 0 !important;
}

.sideHeader ul li a {
    width: 250px;
    display: block;
    padding-left: 30px;
}

.sideHeader a.activeMenu {
    background-color: #bacae5 !important;
    font-weight: 500;
    font-family: Open Sans !important;
}

.sideHeader {
    padding-left: 0 !important;
    padding-top: 20px;
    font-family: Open Sans !important;
}

.sideHeader span {
    font-family: Open Sans !important;
    padding-left: 15px !important;
}

.providerNavbar {
    /* margin: -10px; */
}

.ccl--toolbar li.list-group-item {
    padding-left: 0 !important;
}

td[valign="bottom"] {
    vertical-align: middle;
    padding-left: 20px;
}

td[valign="bottom"] h4 {
    color: #235F98;
    font-weight: 800;
    font-size: 16px;
}

.nohand {
    cursor: not-allowed !important;
}

@keyframes slideToolbar {
    0% {
        top: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        height: 50px;
        opacity: 1;
    }
}

b.header {
    background: none;
}

.ccl--xml-wrapper {
    /* height: 240px; */
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    display: grid;
    background: #fff;
    padding: 50px 10px 10px;
}

/* div {
      background: white;
      padding: 10px;
  }
  header {
      display: grid;
      grid-template-columns: auto 130px;
  } */

div.ccl--toolbar {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 50px;
    background: #F8F8F8;
    font-size: 12px;
    animation: slideToolbar 0.1s linear;
}

.ccl--xml-wrapper:hover .ccl--toolbar {
    visibility: visible;
    /* position: fixed;
    left: 240px;
    top: 0; */
    animation: slideToolbar 0.1s linear;
}

.zoom .react-dropdown-select {
    border: 0
}

.zoom {
    margin-top: -4px;
}

.hand {
    cursor: pointer;
}

.list-group img {
    cursor: pointer;
}

.styleCombobox .react-dropdown-select-dropdown {
    width: 500px;
}

.styleCombobox .react-dropdown-select-dropdown tr {
    cursor: pointer;
}

.styleCombobox .react-dropdown-select-dropdown td:first-child {
    width: 200px;
}

.styleCombobox {
    width: 290px;
}

.ccl--xml-wrapper {
    margin-top: 110px;
}

div.ccl--toolbar {
    top: 108px;
}

.ccl--xml-wrapper .react-dropdown-select {
    background: transparent;
}

/* load xml browser custom style */

.loadXmlBrowserListView .ccl--xml-wrapper {
    margin-top: 0;
}

.loadXmlBrowserListView .ccl--toolbar {
    left: 22px;
    padding-right: 75px;
}

/* .loadXmlBrowserListView section{
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
} */

.closeStylesheetBtn {
    position: absolute;
    right: 28px;
    top: 12px;
    z-index: 9999;
    cursor: pointer;
}

.loadXmlBrowserListView .react-dropdown-select-content span, .contractViewBelow .react-dropdown-select-content span {
    font-size: 14px;
}

.providerSubTableNoBorder th, .providerSubTableNoBorder td {
    padding-left: 0 !important;
}

.bredcumText1 {
    color: #6d6d6d !important;
}

.bredcumText2 {
    color: #0047ba;
}