.verification-process {
    font-size: 20px;
    font-family: $webfont-medium;
    font-weight: normal;
    color: $color-primary;
    margin: 40px 0px 50px 35px;
    text-align: left;
    @media (max-width: $screen-xs-max) {
        margin:30px 0px 30px 0px;
        text-align: center;
    }
}

.install-yes {
    margin-left: 30px;
    display: none;
    p {
        margin-bottom: 0px;
    }
}

.install-no {
    display: none;
    float: left;
    width: 100%;
    label {
        margin-bottom: 20px;
    }
}

.yes-open .install-yes {
    display: block;
}

.no-open .install-no {
    display: block;
}

.btn-and-terms {
    margin-top: 5px;
    margin-bottom: 100px;
    @media (max-width: $screen-xs-max) {
        margin-bottom: 38px !important;
    }
    .next-btn {
        width: 35%;
        float: left;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
    .terms-and-conditions {
        width: 65%;
        float: left;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
        p {
            font-size: 16px;
            margin-left: 50px;
            margin-bottom: 0;
            margin-top: 15px;
            font-family: $webfont-medium;
            font-weight: normal;
            @media (max-width: $screen-xs-max) {
                margin-top: 38px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 0;
                text-align: center;
            }
        }
        a {
            font-family: $webfont-bold;
            text-decoration: underline
        }
    }
}

.install-yes-no {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    @media (max-width:$screen-xs-max) {
    margin-bottom: 15px;   
    }
    .gaf-checkbox{
        border-top:1px solid $color-border-primary;
        padding-top: 32px;
    }
}

.select-box {
    margin: -10px 0 25px 35px;
}

.ems-select-box {
    width: 320px;
    margin-left: 40px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
    @media (max-width:$screen-xs-max) {
        width: auto;
        select{
            border: 1px solid #B7B7B7;
            border-radius: unset;
            box-shadow: none;
            height: 45px;
            text-align: left;
            font-family: $webfont-medium;
            background: #ffffff;
            float: none;
            width: 100%;
            margin-bottom: 22px;
            padding:0 10px;
        }
    }
}

.ems-classify {
    > div:nth-child(2) {
        > div:last-child {
            width: 100%;
        } 
    }
}

.ems-classify {
    > div:nth-last-child(2) {
        width: 100%;
    }
}

.error-question {
    .error-message {
        position: static;
        margin-bottom: 10px;
        margin-top: -15px;
    }
}

.emailVerification {
    .other-desc-textarea {
        .error-message {
            margin-top: 0;
            margin-left: 0;
        }
    }
}

.emailVerification {
    .error-question {
        &.install-yes {
            .error-message {
                padding-left: 0;
            }
        } 
    }
} 

.emailVerification {
    .error-question {
        .ems-classify {
            .error-message {
                margin-left: 0;
            }
        }
    }
}