.mt-30 {
    margin-top: 30px;
}
.spotPromotionForm{
    .dollar{
        &:before{
            content:"$";
            position: absolute;
            top:38px;
            left:8px;
            @media (max-width:$screen-sm-max){
                top: 35px;
            }
        }
        .form-control{
            padding-left:20px;
        }
    }
    .percentage{
        &:after{
            content:"%";
            position: absolute;
            top:38px;
            right:10px;
            @media (max-width:$screen-sm-max){
                top: 35px;
            }
        }
        .form-control{
            padding-right:20px;
        }
    }
    .uploaded-files{
        ul{
            li a:last-child{
                margin-left: 0;
                font-size:14px;
                @media (max-width:$screen-sm-max){
                    position: static;
                }
            }
        }
    }
}


.gaf-title-block {
  h2{
      margin-bottom: 0;
  }
    a.spot-promotion-link {
        float: right;
        @media (max-width:$screen-sm-max){
            float: none
        }
    }
}

.gaf-global-main {
    border: 1px solid $color-border-primary;
    background-color: $color-white;
    .pad-40 {
        padding: 0 20px;
        @media (max-width:$screen-sm-max) {
            padding-left: 15px;
            padding-right: 11px;
        }
    }
    .gaf-global-box {
        border-bottom: 1px solid $color-border-primary;
        padding: 30px;
        font-family: $webfont-medium;
        color: $color-primary;
        position: relative;
        @media (max-width:$screen-sm-max) {
            padding: 15px;
        }
        .desc-new-spot-promotion p {
            font-size: 14px;
            font-family: $webfont-medium;
            color: $color-primary;
            line-height: 22px;  
            margin: 30px 0 20px;
        }
        .gaf-form {
            label {
                font-size: 14px;
            }
            .gaf-textarea {
                height: 100px;
                resize: none;
            }
        }
        .gaf-form.gaf-textarea-wrap {
            margin-bottom: 46px;
            @media (max-width:$screen-sm-max) {
                margin-bottom: 20px;
            }
           
        .other-desc-textarea{
            textarea{
                width: 100%;
                height:100px;
                resize: none;   
            }
            p.char-count {
                float: right;
                margin: 5px 0;
            }
        }
        }
        .gaf-form {
            margin-bottom: 0;
            @media (max-width:$screen-sm-max) {
                margin-bottom: 30px;
            }
        }
        .spot-promotion-action {
            margin-top: 20px;
            margin-bottom: 30px;
            .upload-cancel-btn,
            .upload-submit-btn {
                width: 20%;
                float: left;
                margin-right: 30px;
                margin-top: 0;
                color: $color-white;
                line-height: 45px;
                @media (max-width:$screen-sm-max) {
                    width: 49%;
                    margin: 0;
                }
            }
            .upload-submit-btn {
                @media (max-width:$screen-sm-max) {
                    margin-left: 1%;
                }
            }
            .upload-cancel-btn {
                @media (max-width:$screen-sm-max) {
                    margin-right: 1%;
                }
            }
        }
        .approve-btn {
            margin-top: 20px;
            width: 20%;
            @media (max-width:$screen-sm-max) {
                width: 100%;
            }
        }

        /**/
        .create-spot-promotion-addform {
            .create-category {
                width: 300px;
                float: left;
                @media (max-width:$screen-lg-max) {
                    width: 250px;
                }
                @media (max-width:$screen-xs-max) {
                    width: 100%;
                }
            }
            .product-famliy {
                width: 250px;
                float: left;
                margin-left: 40px;
                @media (max-width:$screen-lg-max) {
                    margin-left: 20px;
                    width: 228px;  
                }
                @media (max-width:$screen-sm-max) {
                    width: 200px;
                    margin-left: 25px;
                }
                @media (max-width:$screen-xs-max) {
                    width: 100%;
                    margin-left: 0px;
                }
            }
            .allowance-type {
                width: 120px;
                float: left;
                margin-left: 40px;
                @media (max-width:$screen-lg-max) {
                    margin-left: 20px;   
                }
                @media (max-width:$screen-sm-max) {
                    width: 193px;
                }
                @media (max-width:$screen-xs-max) {
                    width: 47%;
                    margin-left: 0px;
                }
            }
            .uom {
                width: 120px;
                float: left;
                margin-left: 40px;
                @media (max-width:$screen-lg-max) {
                    margin-left: 20px;   
                }
                @media (max-width:$screen-sm-max) {
                    margin-left: 0;
                    margin-bottom: 0
                }
                @media (max-width:$screen-xs-max) {
                    width: 47%;
                    float: right;
                    margin-left: 0px;
                }
                .error-message {
                    @media (max-width:$screen-sm-max){
                        position: static;
                    }
                }
            }
            .spot-promoton-value {
                width: 80px;
                float: left;
                margin-left: 40px;
                position: relative;
                @media (max-width:$screen-lg-max) {
                    margin-left: 20px;   
                }
                @media (max-width:$screen-sm-max) {
                    margin-bottom: 0;
                }
                .gaf-form {
                    @media (max-width:$screen-sm-max) {
                        margin: 0;
                    }
                }
                @media (max-width:$screen-xs-max) {
                    margin-left: 0;
                    margin-bottom: 0;
                    width: 47%;
                    clear: left;
                }
                .error-message {
                    @media (max-width:$screen-sm-max){
                        position: static;
                    }
                    @media (min-width:$screen-ipad-lanscape) {
                        position: static;
                        white-space: normal;
                        margin-bottom: -20px;
                        display: block;
                    }
                }
            }
            .error-message {
                position: absolute;
                font-size: 14px;
                white-space: nowrap;
                color: $color-secondary;
                @media (max-width:$screen-xs-max) {
                    margin-top: 5px;
                }
            }
        }
        .spot-error {
            .create-spot-promotion-addform {
                .create-category,
                .product-famliy {
                    height: 65px;
                }
            }
        }
    }

    .gaf-bg-color {
        &:nth-child(odd) {
            background-color: $background-highlight
        }
    }

    .add-new-spot-promotion {
        border-bottom: 1px solid $color-border-primary;
        padding: 20px 30px;
        @media (max-width:$screen-sm-max) {
            padding: 20px 15px;
        }
        button.gaf-add-button {
            background-color: $color-primary;
            padding: 7px 10px;
            color: $color-white;
            text-transform: uppercase;
            font-size: 16px;
            font-family: $webfont-demi;
            float: right;
            min-height: auto;
            i {
                margin-right: 5px;
            }
        }
    }

    .upload-new-spot-promotion {
        border-bottom: 1px solid $color-border-primary;
        padding: 30px 30px;
        .gaf-upload-btn {
            margin-bottom: 0;
        }
        @media (max-width:$screen-sm-max) {
            padding: 15px;
        }
        p {
            color: $color-primary;
            font-size: 12px;
            line-height: 18px;
            font-family: $webfont-medium;
        }
        .gaf-error-message{
            color: $color-secondary;
        }
    }

    .gaf-create-new-form {
        .react-datepicker__month-container  {
            @media (max-width: $screen-sm-max) {
                float: none;
            }
        }
        .mt-30 {
            @media (max-width:$screen-sm-max) {
                margin-top: 0;
            }
        }
        label {
            float: left;
            line-height: 40px;
            @media (max-width:$screen-sm-max) {
                float: none;
                line-height: normal !important;
            }
        }
        .gaf-form-inner {
            .form-control {
                width: 80%;
                float: right;
                @media (max-width:$screen-sm-max) {
                    width: 100%;
                    float: none;
                }
            }
            label {
                line-height: 40px;
            }
            .custom-select-box {
                width: 80%;
                float: right;
                @media (max-width:$screen-sm-max) {
                    width: 100%;
                    float: none;
                }
            }
        }
        .gaf-form{
            label{
                line-height: 40px;
            }
        }
       
        .gaf-form-calender {
            position: relative;
            @media (max-width:$screen-sm-max) {
                float: none !important;
            }
            label {
                line-height: 18px;
            }
            .form-control {
                width: 170px;
                float: right;
                @media (max-width:$screen-ipad-lanscape) {
                    width: 133px;
                }
                @media (max-width:$screen-sm-max) {
                    width: 100%;
                    float: none;
                }
            }
            label[class^="icon"]{
                position: absolute;
                right: 14px;
                top: 14px;
                font-size: 18px;
                @media (max-width:$screen-sm-max) {
                    top: 11px;
                }
            }
            .error-message {
                top: 0;
                margin: 0;
                @media (max-width:$screen-sm-max) {
                    top: 5px;
                }
            }
        }
        .display-start-date,
        .display-end-date {
            .gaf-form {
                margin-bottom: 0;
            }
        }
        sup {
            @media (max-width:$screen-ipad-lanscape) {
                left: 0;
                top: -4px;
            }
        }
        .error-message {
            display: block;
            margin-left: 20%;
            font-size: 14px;
            position: relative;
            top: 5px;
            clear: both;
            @media (max-width:$screen-sm-max) {
                margin: 0;
            }
        }
    }
    .spot-promotion-edit {
        .delete-catogory {
            display: block
        }
        .create-spot-promotion-addform {
            .product-famliy {
                @media (max-width:$screen-ipad-lanscape) {
                    width: 191px;  
                }
                @media (max-width:$screen-xs-max) {
                    width: 100%;  
                }
            }
        }
    }
    
}

.delete-catogory {
    position: absolute;
    right: -40px;
    top: 35px;
    @media (max-width:$screen-sm-max) {
        right: -40px;
    }
    @media (max-width:$screen-xs-max) {
        right: -30px;
        top: 36px;
    }
    > i[class^="icon"]{
        position: absolute;
        top:auto;
        right:-5px;
        font-size: 20px;
        @media (max-width:$screen-xs-max) {
            font-size: 19px;
        }
    }
}

.add-new-spot-promotion {
    border-bottom: 1px solid $color-border-primary;
    padding: 20px 30px;
    @media (max-width:$screen-sm-max) {
        padding: 20px 15px;
    }
    button.gaf-add-button {
        background-color: $color-primary;
        padding: 7px 10px;
        color: $color-white;
        text-transform: uppercase;
        font-size: 16px;
        font-family: $webfont-demi;
        float: right;
        min-height: auto;
        i {
            margin-right: 5px;
            position: relative;
            top: 1px;
        }
    }
}


.cancel-popup{
    text-align: center;
    p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .spot-promotion-action {
        width: 176px;
        margin: auto;
        .upload-cancel-btn,
        .upload-submit-btn {
            width: 80px;
            float: left;
            margin-right: 15px;
            line-height: 45px;
            color: $color-white;
            @media (max-width:$screen-sm-max) {
                width: 49%;
                margin: 0;
            }
            .btn{
                padding: 6px 0;
                font-size: 14px;
            }
            &:last-child {
                margin-right: 0;
                margin-top: 0;
            }
        }
        .upload-submit-btn {
            @media (max-width:$screen-sm-max) {
                margin-left: 1%;
            }
        }
        .upload-cancel-btn {
            @media (max-width:$screen-sm-max) {
                margin-right: 1%;
            }
        }
    }
}

.gaf-cancel-popup .modal-dialog {
    max-width: 475px;
   }

.btn-event-disabled {
    pointer-events: none;
    opacity: .5;
}

.desc-new-spot-promotion {
    .other-desc-textarea {
        .error-message {
            position: relative;
            top: 5px;
        }
    }
}

.spot-promotion-edit {
    .error-message {
        font-size: 14px;
    }
}

/*iOs*/
.gaf-device-ios {
    .spotPromotionForm {
        .dollar {
            &:before {
                top: 41px;
                @media (max-width:$screen-sm-max) {
                    top: 38px;
                }
            }
        }
        .percentage {
            &:after {
                top: 41px;
                @media (max-width:$screen-sm-max) {
                    top: 38px;
                }
            }
        }
    }
}