.gaf-myprofile {
    border: 1px solid $color-border-primary;
    background: $color-white;
    text-align: center;
    @media (max-width: $screen-sm-max) {
        margin-bottom:30px;
    }
    .user-acc-info {
        padding:30px 0;
        border-bottom:1px solid $color-border-primary;
        figure{
            .figure-outline{
                border:2px solid $color-border-secondary;
                width:150px;
                height:150px;
                border-radius:50%;
                position:relative;
                display: inline-block;
                @media (max-width:$screen-lg-max){
                    width:138px;
                    height:138px;
                }
                @media (max-width:$screen-sm-max){
                    width:120px;
                    height:120px;
                }
                img{
                    position: absolute;
                    top:50%;
                    left:50%;
                    @include transform-translate(-50%,-50%);
                    max-width: 100%;
                }
            }
            figcaption{
                font-size:30px;
                font-family: $webfont-demi;
            }
        }
        p{
            font-size: 16px;
            margin-bottom: 15px;
            padding: 0 15px;
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;
                display: inline-block;
            }
        }
        dl{
            dt{
                font-family: $webfont-demi;
                font-size:16px;
            }
        }
    }
    .user-rewardpoints{
        margin:28px 30px 1px;
        padding:0;
        max-width: 300px;
        @media (max-width:$screen-sm-max){
            margin: 30px auto 1px;
        }
        i.ribbon-size-large{
            font-size:90px;
        }
        p{
            margin:0;
            font-family: $webfont-demi;
            &:first-child{
                font-size:30px;
            }
            &:nth-child(2){
                font-size:14px;
                font-family:$webfont-medium;
            }
            &:nth-child(3){
                font-size:12px;
                margin:15px 0;
                font-family: $webfont-medium;
            }
        }
        &.blur-text{
            i:before{
                text-shadow: 0 0 18px rgba($color-black,0.5);
                color: transparent;
                opacity: 0.5;
            }
        }
        &.whiten-area{
            visibility: hidden;
            @media (max-width:$screen-sm-max){
                display:None;
            }
        }
    }
    .viewdetail-link{
        padding:15px 0;
        a{
            font-size:20px;
            font-family: $webfont-demi;
            text-transform: uppercase;
            color:$color-primary;
            margin-left: 5px;
            i{
                font-size:34px;
                position: relative;
                top:10px;
                line-height: 0;
                &:before{
                    color:$color-secondary;
                }
            }
        }
    }
}