.contractor-management{
    .gaf-table-header {
        h4{
            @media (max-width:$screen-xs-max){
                margin-bottom: 20px;
            }
        }
        .contractor-table-title{
            float: left;
            width: calc(100% - 300px);
            @media (max-width:$screen-xs-max){
                width: 100%;
            }
        }
        .contractor-icon-block{
            width: 300px;
            float: left;
            @media (max-width:$screen-xs-max){
                width:auto;
                float: right;
            }
        }
    }
  
    .gaf-search{            
        .ad-search-filter-icon{
            @media (max-width:$screen-xs-max){
                margin-bottom: 20px;
            }
            a{
                @media (max-width:$screen-sm-max){
                    margin-top:0;
                }
            }
        }
    }
    .gaf-advance-search{
        .redeem-check{
            label{
                margin-right: 39px;
                margin-left: 45px;
                @media (max-width:$screen-md-max){
                    margin-right: 25px;
                    margin-left: 22px;
                 }
                 @media (max-width:$screen-sm-max){
                     margin-left: 0;
                 }
            }
            .custom-select-box{
                width: 180px;               
                 @media (max-width:$screen-md-max){
                    width: 110px;
                 }
                 @media (max-width:$screen-sm-max){
                    width: 100%;
                 }
            }
            @media (max-width:$screen-sm-max){
               width: 100%;
            }

        }
        .plan-type{
            float: right;
            label{
                margin-left: 25px;
                margin-right: 25px;
                @media (max-width:$screen-md-max){
                    margin-right: 11px;
                 }
                @media (max-width:$screen-xs-max){
                    margin-left: 0;
                }    
                @media (max-width:$screen-sm-max){
                    margin-left: 0;
                }               
            }
            .custom-select-box{
                width: 168px;
                @media (max-width:$screen-md-max){
                    width: 110px;
                 }
                @media (max-width:$screen-sm-max){
                    width: 100%;
                 }
            }
            @media (max-width:$screen-sm-max){
                width: 100%;
             }
        }
        .city-input{
            label{
                text-indent:0;
                margin-left: 0;
                margin-right: 38px;
                margin-top: 12px;
                @media (max-width:$screen-sm-max){
                    margin-bottom: 7px;
                    margin-top: 0;
                }           
                @media (max-width:$screen-md-max){
                    margin-right: 20px;
                }
            }
            input{
                padding-right:12px;
                width: 140px;
                @media (max-width:$screen-md-max){
                    width: 110px;
                 }
            }
            @media (max-width:$screen-sm-max){
            width: calc(50% - 7.5px);
            float: left;
            margin-right: 15px;
            margin-bottom: 0;
            }
            a{
                display: none;
            }
        }
        .state{
            label{
                margin-left: 10px;
                @media (max-width:$screen-sm-max){
                   margin-left: 0;
                }
            }
            .custom-select-box {
                width: 120px;
                @media (max-width:$screen-sm-max){
                    width: 100%;
                 }
            }
            @media (max-width:$screen-sm-max){
            width: calc(50% - 7.5px);
            float: left;
            }
        }
        .contractor-type{
            label{
                margin-left: 15px;
                margin-right: 22px;
                @media (max-width:$screen-md-max){
                    margin-left: 10px;
                    margin-right: 8px;
                 }
                @media (max-width:$screen-xs-max){
                    margin-left: 0;
                 }
                 @media (max-width:$screen-sm-max){
                    margin-left: 0;
                 }
            }
            .custom-select-box{
                width: 180px;
                @media (max-width:$screen-md-max){
                    width: 110px;
                 }
                @media (max-width:$screen-sm-max){
                    width: 100%;
                 }                
            }
            @media (max-width:$screen-sm-max){
                width: 100%;
                float:left;
             }
        }
        .gaf-ad-search-error {
            margin-top: 5px;
        }
    }
    .gaf-detailed-report-block{     
        float: left;
        border-right: 1px solid $color-border-primary;   
        padding-right: 20px;
        @media (max-width: $screen-xs-max){
            padding-top:0;
            padding-left: 0;
        }   
        a{
            float:right;
            @include flex;
            @include align-items(center);
            i:first-child{
                font-size:30px;
            }
        }
        span{
            margin:0 8px;
        }
    }
    .gaf-export-block{
        div{
            display: inline;
        }
        a{
            &:nth-child(1){
                display: inline-block;
                border-left: 1px solid $color-border-primary;
                padding-left: 10px;
                margin-left: 10px;
            }
        }
        .download-report{
            @media (max-width: $screen-xs-max){
                margin-left: 0;
            }
        }
    }
    .gaf-toggle {
        position: relative;
        width: 55px;
        height: 25px;
        label{
            width:55px;
            margin-bottom: 0;
            .gaf-toggle__switch{
                height: 25px;  
                border-radius: 50px;
                background-color: $background-highlight;
                border: 1px solid $color-grey;
                &:before{
                    content: attr(data-checked);
                    position: absolute;
                    text-transform: uppercase;
                    right: 9px;
                    font-size: 10px;
                    top: 7px;
                    color:#494949;
                }
                &:after{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    text-transform: uppercase;
                    
                    background:$color-white;
                    -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                    transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
                    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
                    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
                    color: $color-primary;
                    top: 1px;
                    left: 1px;
                    border-radius: 30px;
                    width: 23px;
                    height: 23px; 
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
                }
            }
        }
      }
      .gaf-toggle input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        &:checked{
            ~ label .gaf-toggle__switch{
                background-color:$color-secondary;
                &:before{
                    content: attr(data-unchecked);
                    left: 9px;
                    right: 0;
                    color: #ffffff
                }
                &:after{
                    content: '';
                    -webkit-transform: translate3d(30px, 0, 0);
                    transform: translate3d(30px, 0, 0);
                }
            }
            &:focus , &:hover{
                ~ label .gaf-toggle__switch{
                    background-color:$color-secondary;
                }
            }
        }
    }
}

.details-report {
    p {
        margin: 0 0 30px;
        padding: 20px;
        border: 1px solid $color-border-primary;
        line-height: 24px;
        font-family: $webfont-medium;
        color: $color-primary;
        font-size: 14px;
        @media (max-width:$screen-xs-max) {
            margin-bottom: 20px;
            padding: 15px;
        }
        i {
            font-size: 15px;
            margin-right: 15px;
        }
    }
    .gaf-form {
        @media (max-width:$screen-xs-max) {
            margin-bottom: 20px;
        }
        label {
            color: $color-primary;
            @media (max-width:$screen-xs-max) {
                font-size: 14px; 
                margin-bottom: 10px;
            }
        }
    }
    .form-inline-left {
        float: left;
        width: 60%;
        @media (max-width:$screen-xs-max) {
            float: none;
            width: 100%;
        }
        .form-inline {
            float: right;
            @media (max-width:$screen-xs-max) {
                float: none;
            }
        }
        label {
            float: left;
            line-height: 44px;
            @media (max-width:$screen-xs-max) {
                float: none;
                line-height: normal
            }
        }
        .custom-select-box {
            float: left;
            width: 237px;
            margin-left: 20px;
            .dropdown-menu{
                bottom:98%;
                top:auto;
            }
        }
    }
    .details-report-btn {
        width: 25%;
        float: right;
        margin-right: 45px;
        @media (max-width:$screen-xs-max) {
            width: 100%;
            margin-right: 0;
        }
        .btn{
            line-height: 45px;
        }
    }
    .details-report-msg {
        text-align: center;
        font-size: 16px;
        color: $color-primary;
        font-family: $webfont-medium;
        line-height: 24px;
        @media (max-width:$screen-xs-max) {
            font-size: 14px;
        }
        span {
            display: block;
            font-family: $webfont-demi;
        }
    }
    .gaf-select-box{
        select{
            @media (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
                display: inline-block !important;
                margin-left: 15px;
                height:46px;
            }
        }
    }
}