.user-rewardpoints {
    background-color: $color-white;
    padding: 20px 0 0;
    text-align: center;
    margin: 15px 0;
    position: relative;
    z-index: 1;
    p {
        margin: 0;
        font-family: $webfont-demi;
        &:first-child {
            font-size: 30px;
            line-height: 30px;
        }
        &:nth-child(2) {
            font-size: 14px;
            font-family: $webfont-medium;
        }
        &:nth-child(3) {
            font-size: 12px;
            margin: 15px 0;
            font-family: $webfont-medium;
        }
    }
    i.ribbon-size {
        font-size: 82px;
        margin-bottom:20px;
        display: inline-block;
        @media (max-width:$screen-sm-max) {
            font-size: 80px;
        }
    }
    .viewdetail-link {
        padding: 15px 0;
        border-top: 1px solid $color-border-primary;
        a {
            font-size: 16px;
            font-family: $webfont-demi;
            text-transform: uppercase;
            color: $color-primary;
            margin-left: 5px;
            i {
                font-size: 28px;
                position: relative;
                top: 8px;
                line-height: 0;
                &:before {
                    color: $color-secondary;
                }
            }
        }
    }
    .gaf-user-expiry {
        i {
            padding-left: 5px;
            font-size:16px;
            position:relative;
            top:2px;
        }
    }
}