@keyframes slideToolbar {
  0% {
    top: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    height: 50px;
    opacity: 1;
  }
}

b.header {
  background: none;
}

.ccl--xml-wrapper {
  /* height: 240px; */
  width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  background: #fff;
  padding: 65px 10px 10px;
}

/* div {
    background: white;
    padding: 10px;
}
header {
    display: grid;
    grid-template-columns: auto 130px;
} */

div.ccl--toolbar {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #F8F8F8;
  font-size: 12px;
  animation: slideToolbar 0.1s linear;
}

.ccl--xml-wrapper:hover .ccl--toolbar {
  visibility: visible;
  /* position: fixed;
  left: 240px;
  top: 0; */
  animation: slideToolbar 0.1s linear;
}

.zoom .react-dropdown-select {
  border: 0
}

.zoom {
  margin-top: -4px;
}

.hand {
  cursor: pointer;
}

.list-group img {
  cursor: pointer;
}

.styleCombobox .react-dropdown-select-dropdown {
  width: 500px;
}

.styleCombobox .react-dropdown-select-dropdown tr {
  cursor: pointer;
}

.styleCombobox .react-dropdown-select-dropdown td:first-child {
  width: 200px;
}