.what-qualifies{
    .filterby{
        float: right;
        @media (max-width:$screen-sm-max){
            float:left;
            width:100%;
        }
        label{
            text-transform: none;
            @media (max-width:$screen-sm-max){
                float:left;
                margin: 12px 0;
            }
            @media (max-width:$screen-xs-max){
                margin:5px 0;
            }
        }
        .custom-select-box{
            display: inline-block;
            width:200px;
            margin-left:18px;
            margin-right: 32px;
        }
        .gaf-select-box{
            min-width: 200px;
            float:left;
            label{
                text-transform: none;
            }
            .form-control{
                @media (max-width:$screen-sm-max){
                    width:121px;
                    float:left;
                    margin-left:10px;
                    font-size: 12px; 
                    padding-left: 8px;
                }
            }
        }
        .gaf-export-block{
            margin-top:8px;
            font-family: $webfont-medium;
            @media (max-width:$screen-xs-max){
                margin-top:2px;
            }
            i:first-child{
                @media (max-width:$screen-xs-max){
                    font-size:25px;
                }
            }
            span{
                margin: 0 0 0 8px;
            }
            a{
                &.disable-export{                
                    pointer-events: none;
                }
            }
        }
    }
    .gaf-table{
        margin-bottom:20px;
        max-height: 450px;
        @media (max-width:$screen-xs-max){
            margin-bottom:0;
            border:0;
        }
    }
    .gaf-table{
            table{
                thead{
                tr{
                    th{
                        padding:14px 15px;
                        &:first-child{
                         width: 500px;
                        }
                    }
                }
                 
                }
                tbody{
                tr{
                    td {
                        &:first-child{
                        //  width: 500px;
                        }
                    }
                    
                  }
                }
            }
            .table-bordered{
                border:1px solid #f3f3f3;
            }
       }
       .panel-group{
           margin-bottom: 0;
       }
       .table-border-mob {
            @media (max-width:$screen-sm-max) {
                border: 1px solid $color-border-primary;
            }
       }

       .gaf-accordian{
        .panel-group{
            border:1px solid $color-border-primary;
            margin-bottom:0;
            div{
                .panel{
                    border-bottom: 1px solid $color-border-primary;
                }
                &:last-child{
                    .panel{
                        border:none;
                    }
                }
            }
        }
    }
}



