body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style the header */
.header img{
  float:left;
  width: 162px;
  height: 50px;
}
.header h2{
 margin-left: 7em;
}
.header {
  padding: 10px 16px;
  background: rgba(28, 53, 100, 0.91);
  color: #f1f1f1;
}
.main-content {
  margin-top: 15px;;
}
.main-content h3 {font-size: 20px}
.main-content h4 {font-size: 18px; margin-top: 10px;}
/* Page content */
.content {
  padding: 16px;
}

/* Find Control CSS **/
.find-control-section .tabs {font-size: 16px; padding: 5px 10px;}
.find-control-section .tabs:first-child {
  border-top-left-radius: 10px;
  border-right: 1px solid #fff;
}
.find-control-section .tabs:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid #fff;
}
.find-control-section .find-control-area {padding-right: 0;}
.find-control-section .find-control-area.col-md-1 {max-width: 70px;}
.find-control-section .find-control-area .sidebar{margin-top: 10px;}

.main-content .form-check-input {margin-left: 0; position: inherit;margin-right: 5px;width: 20px;height: 20px;}
.main-content .form-check-label {font-size: 16px;}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
/* Sidebar*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 66px;
  left: 0;
  background-color: #f1f1f1;
  border-right: 3px solid #ececec;
  overflow-x: hidden;
  padding-top: 20px;
  width: 16.66%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  font-weight: 500;
  color: #1a1a1a!important;
  cursor: pointer;
}

.main {
  font-size: 24px; /* Increased text to enable scrolling */
  padding: 0px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}
/* End of Sidebar */


/* sidebar */
.sidebar {
  top: 110px;
}

.sidebar {
  
  height: calc(100% - 112px);
  width: 260px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  box-shadow: 2px 0 0 0 #ebedf0;
  background-color: #f8f8f8;
}
.react-datepicker-wrapper{
  width: 100%;
}

/* sidebar */

/* bcg */

.parameters{
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  opacity: 0.6;
  display:inline-block;
}
.settings, .collapse-icon, .recent-search {
  width: 24px;
  height: 25px;
  object-fit: contain;
}
.bcg>li.collapse-list, .bcg>li.collapse-list-mini {
  float:left;
}
.bcg>li.recent-list, .bcg>li.find-button-list {
  float:right;
}
/* bcg */

/* sidebar wrapper */
.sidebar-wrapper{
  clear: both;
}

.sidebar .sidebar-wrapper {
  overflow: auto;
  
  z-index: 4;
  width: 260px;
  height: calc(100% - 152px);
  box-shadow: inset -1px 0 0 0 #cfcfca;
}

.sidebar .sidebar-wrapper .form-group {
  padding: 0px 10px 0px 10px;
}
.TextField:focus{
  background-color: #e5ecf8;
}
.TextField{
  
  border-radius: 2px;
  border: solid 1px rgba(85, 88, 90, 0.36);
  background-color: #ffffff;
}

.TextField::placeholder {
  
  opacity: 0.7;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: rgba(85, 88, 90, 0.82);
}

label {
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #000000;
}


.sidebar-mini .sidebar .sidebar-wrapper, .sidebar-mini .sidebar .findButton  {
  display: none;
}
.sidebar-mini .sidebar .bcg .collapse-list .parameters, .sidebar-mini .sidebar .bcg .recent-list, .sidebar-mini .sidebar .bcg .find-button-list {
  display: none;
}
.sidebar-mini .sidebar, .sidebar-mini .sidebar .sidebar-wrapper {
  width: 46px;
}
.sidebar-mini .main-panel {
  width: calc(100% - 46px);
}
.pagination .page-item{
  padding: 2px 2px 2px 2px !important;
  font-size: 12px;
  color: #0047ba;
}
.pagination .page-item.active {
  
  /* background-color: #0047ba; */
  padding: 2px 2px 2px 2px !important;
  margin-right: 5px;
}
.pagination .page-item.active .page-link{
  color: #fff;
  border: 1px solid #fff;
  background-color: #0047ba;
}
.pagination .page-item .page-link{
  
  padding: 4px !important;
  /* border: none !important;
  background-color: transparent !important; */
}
.form-group{
  margin-bottom: 0 !important;
}
.react-dropdown-select{
  font-size: 12px;
}
/* sidebar wrapper */

/* Find Button */
div.findButton {
  width: 260px;
  box-shadow: 1px 1px 1px 0 rgba(28, 53, 100, 0.1);
  background-color: #ffffff;
  padding: 10px;
}
div.findButton .clear-btn{
  width: 98px;
  height: 32px;
  border-radius: 2px;
  background-color: #e3f0fe;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #0047ba;
}
div.findButton .find-btn{
  width: 98px;
  height: 32px;
  border-radius: 2px;
  background-color: #0047ba;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.page-item.active .page-link {
  z-index: 0;
  
}

div.findButton div.form-row div.col{
  margin-top: -5px;
}
span.profile {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #010101;
}
/* Find Button */

/* main panel */
.main-panel {
  width: calc(100% - 260px);
}
/* main panel */

@media (min-width: 768px){
  .bcg {
    margin: 0;
    height: 52px;
    padding: 10px 10px 10px 5px;
    margin-bottom: 0;
    list-style: none;
  }
}
@media (min-width: 992px){
  .sidebar {
      display: block !important;
  }
  .sidebar-mini .sidebar {
    display: block;
    font-weight: 200;
    z-index: 3;
  }
  .sidebar-mini .sidebar {
    height: calc(100% - 112px);
  }
}


/* ********** Date Picker *********/
/* .TextField {
    border-radius: 2px;
    border: solid 1px rgba(85, 88, 90, 0.36);
    background-color: #ffffff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAGBJREFUSA1jYBgFgzoEpOXV/hNyICE1TIQMoFSeEd0AQi5CV4/Of/rwFoaZKGoosQCbXpoH0dC3gAUlAqAcbGGJTR1ZYpQYjk3v0I+DUR8QTEg0DyL65wOCfh5VQO0QAABJIw8WkGRX2QAAAABJRU5ErkJggg==) !important;
    background-position: right 10px;
    background-repeat: no-repeat;
}
.react-datepicker__close-icon {
padding: 8px 25px 0px 0px !important;
} */
/*******************************************/

